

	<div class="info_cupon col-sm-10">
		<div class="txt">
			<h1><b>Código Efectivo Multicaja:</b></h1>
			<h1><b>{{code_format}}</b></h1>
			<p><b>Total a pagar en 46DSTORE:</b> ${{pedido.pedidoResult.monto_trx}}</p>

			<p>Código vence
		     <span><b>{{fecha_expiracion| date: 'dd/MM/yyyy'}}</b></span> a las
		     <span><b>{{fecha_expiracion| date: 'HH:mm'}} hrs</b></span>

			</p>
		</div>
	</div>

	<div class="contenido col-sm-10 no-b-r" style="padding-left: 0px; padding-right: 0px;">

	<p class="puedes-pagar-en-los"><b>Puedes pagar en los siguientes comercios habilitados:</b></p>

		<div data-map-id="1589a291ea631a" data-map-key="" data-tags="cupon multicaja" id="storepoint-container" style="margin-top:50px;">&nbsp;</div>
<script>(function(){var a=document.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://cdn.storepoint.co/assets/js/storepoint.min.js";var b=document.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);}());</script>

		<div class="row solo-puedes-pagar">
			  <div class="col-md-4"><b>Sólo puedes pagar en:</b></div>
			  <div class="col-md-4"><img src="./assets/img/pin_comercio.jpg" alt="pin comercio"><p>Comercios Multicaja</p></div>
			  <div class="col-md-4"><img src="./assets/img/pin_caja_los_heroes.jpg" alt="pin caja los heroes"><p>Caja Los Héroes</p></div>
		</div>
</div>



	<div class="contenido col-sm-10 no-b no-mt" style="padding-left: 0px; padding-right: 0px; margin-bottom: 15px;">
	<p>O realiza una nueva búsqueda de un comercio habilitado en <a class="red" href="https://www.multicaja.cl/efectivo-multicaja" target="_blank">www.multicaja.cl/efectivo-multicaja</a></p>
	</div>

	<div class="contenido col-sm-10 no-b no-mt" style="padding-left: 0px; padding-right: 0px;">
		<b style="margin-bottom: 20px; display: block; font-size: 15px; font-family: 'Titillium Web', sans-serif; color: #666666;"><i>Cómo pagar con Efectivo Multicaja</i></b>
		<div class="row pasos-para-pagar">
		  <div class="col-md-4" style="padding-right: 3px;">
		  	<img src="./assets/img/numero_uno.jpg" alt="paso uno" class="uno_" title="paso uno">
		  	<p style="margin-top: 4px;"><i>Solicita pagar con efectivo Multicaja en un comercio habilitado. Indica el código: {{code_format}}.</i></p>
		  </div>
		  <div class="col-md-4" style="padding-right: 3px;">
		  	<img src="./assets/img/numero_dos.jpg" alt="paso dos" title="paso dos">
		  	<p style="margin-top: 4px;"><i>Paga el monto indicado y recibirás un comprobante.</i></p>
		  </div>
		  <div class="col-md-4" style="padding-right: 3px;">
		  	<img src="./assets/img/numero_tres.jpg" alt="paso tres" title="paso tres">
		  	<p style="margin-top: 4px;"><i>Multicaja notificará que tu pago se realizó correctamente.</i></p>
		  </div>
		</div>
	</div>

	<div class="contenido col-sm-10 no-p pasos-comercio" id="pasos-comercio" >
                           <p class="puedes-pagar-en-los"><b>Instrucciones para el Comercio Multicaja. Digitar en POS</b></p>

                        <div id="collapse3" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                            <div class="panel-body">
                                <div class="puntos_">

                                     <div class="punto">
                                    	<div class="numero_">
                                    		<p>1.</p>
                                    	</div>
                                    	<div class="detalle_">
                                    		<p><b>opción [2] “Pago de Cuentas" > opción [8] “Efectivo Multicaja” > opción [1] “Pagar”</b>.</p>
                                    	</div>
                                    </div>

                                    <div class="punto">
                                    	<div class="numero_">
                                    		<p>2.</p>
                                    	</div>
                                    	<br>
                                    	<div class="detalle_">
                                    		<p>Ingresar código: <b>{{code_format}}</b>, recibir <b>pago en efectivo</b> y entregar voucher al cliente.</p>
                                    	</div>
                                    </div>
                           		</div>
                          	</div>
                        </div>
          </div>

	<div class="contenido col-sm-10 no-b no-mt" style="padding-left: 0px; padding-right: 0px;">
		<p>Te hemos enviado una copia a tu correo. Puedes imprimir o anotar el código.</p>
	</div>




	<div class="contenido col-sm-10 no-p no-b no-r buttons">
	<button id="imprimir_btn" class="imprimir" (click)="onPrint()"><b>IMPRIMIR</b> <img src="./assets/img/ico_print.png" alt="ico_print" /></button>
	<button id="finalizar_btn" (click)="doRedirectConfirm()"><b>FINALIZAR</b> <!--<i class="fa fa-chevron-right" aria-hidden="true"></i>--></button>
	<!--<a href="javascript:genPDF()">GENERAR PDF</a> HTML2CANVAS -->
	</div>
