
<div id="titulo" class="tef">
		<h1>TRANSFIERE A MULTICAJA
				<div class="tooltop transfier-tool"><img src="./assets/img/ico-question.png" alt="ico-question" />
				  <span class="tooltiptext">Multicaja avisará automaticamente tu pago al Comercio Electrónico.</span>
				</div>
		</h1>

	<p><i>Para finalizar, debes ir a la página de <b>Banco BICE</b> y realizar una transferencia bancaria desde una cuenta<br> asociada al <b>RUT 12.345.678-9</b>, a la cuenta Multicaja que aparece a continuación.</i></p>

	<div class="alert alert-danger alert-dismissible alerta-nuevo-danger">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  <strong>Estimado cliente:</strong> En este momento la cuenta del <strong>Banco BBVA no esta disponible</strong>. Favor transferir, por esta oportunidad, a la cuenta del Banco de Chile que te mostraremos a continuación. Gracias.
	</div>

	<div class="alert alert-warning alert-dismissible alerta-nuevo-warning">
	  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	  En esta compra has utilizado <strong>$398</strong>, debes transferir solo <strong>$3.802</strong> a la cuenta de Multicaja. Si no realizas la compra, <strong>$398</strong> volverán a estar disponibles en tu saldo.
	</div>

	</div>

	<!-- acordeon -->
	<div class="contenido col-sm-10 no-p tf-color">

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

        <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="collapse-in " aria-expanded="true" aria-controls="collapse1">
                        <p><b>Debes transferir a esta cuenta corriente de Multicaja</b></p>
                    </a>
                </h4>
            </div>
            <div id="" style="overflow: hidden;" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">

				<ul id="list-izq">
					<li><b>NOMBRE:</b></li>
					<li><b>RUT:</b></li>
					<li><b>EMAIL:</b></li>
					<li><span class="badge-red">Nuevo</span><b>BANCO:</b></li>
					<li><span class="badge-red">Nuevo</span><b>TIPO DE CUENTA:</b></li>
					<li><span class="badge-red">Nuevo</span><b>N° DE CUENTA:</b></li>
					<li><span>Nuevo</span><b>MONTO:</b></li>
				</ul>

				<ul id="list-der">
					<li>MULTICAJA S.A.</li>
					<li>76.828.790-2</li>
					<li>transferencia@multicaja.cl</li>
					<li>BANCO DE CHILE</li>
					<li>CORRIENTE</li>
					<li>008001454710</li>
					<li>$3.802</li>
				</ul>

            </div>
        </div>

    </div>

	</div>

	<div class="contenido col-sm-10 no-b no-p message-icon-02">


<img src="img/ico_important.jpg" alt="ico_important" class="ico_important_resp" /><p><img src="img/ico_important.jpg" alt="ico_important" class="ico_important_desk"/> <b>Tiempo restante para transferir: <span style="font-size: 16px; color: #333333;">00:19:59</span></b> (después de ese tiempo, tu pedido expira y debes realizar uno nuevo).</p>

</div>

<div id="otro-order">

<div id="option_selected" class="col-sm-12 order-mobile-1">
	<div id="campos" class="campos-tef">
		<div class="campo">
			<button type="submit" class="ir-banco btn-ico-flecha">IR A MI BANCO </button>
		</div>
	</div>
</div>

<div class="info_cupon col-sm-10 order-mobile-2">
	<ul>
		<li><i class="fa fa-circle" aria-hidden="true"></i> Si ya transferiste, ¡despreocupate! Te enviaremos un comprobante de pago en los próximos 15 minutos.</li>
		<li><i class="fa fa-circle" aria-hidden="true"></i> Recuerda guardar la cuenta Multicaja en tu Banco para facilitar tus próximos pagos.</li>
	</ul>
</div>

</div>
