
<div id="titulo">
	<h1 class="titulo_transferencia">PAGA CON TRANSFERENCIA BANCARIA DESDE TU CUENTA RUT, VISTA O CORRIENTE</h1>
</div>

<div id="option_selected" class="col-sm-12">

	<i style="margin-top: 20px">Ingresa el <b>RUT asociado a la cuenta desde la que transferirás</b><br> (si es Cuenta Empresa, ingresa el RUT de la empresa).</i>
<form [formGroup]="myform">
	<div id="campos">
		<div class="campo">
			<label>RUT</label>
			<input type="text" name="rut" placeholder="Ej : 12345678-9" [(ngModel)]="rut"   >
		</div>
		<div class="campo" style="margin-top: 45px;">
			<button type="submit"  (click)="confirmar()" class="btn-ico-flecha">CONFIRMAR </button>
		</div>
		<div *ngIf="rutIsValid">
			* Ingresa un rut válido.
		</div>
	</div>
</form>

</div>
