<div id="titulo">
		<h1>PAGA EN EFECTIVO EN LOS MILES DE COMERCIOS MULTICAJA</h1>
	</div>

	<div id="option_selected" class="col-sm-12">
<a href="#" data-toggle="modal" (click)="doStorepoint()" data-target="#ModalComercio">Busca tu comercio más cercano</a>
		<i>Ingresa tu email para que te enviemos el código de pago y lo presentes en un Comercio Multicaja.</i>
		<form [formGroup]="myform">
		<div id="campos">
			<div class="campo">
				<label><b>EMAIL</b></label><br>
				<input type="email" name="email" placeholder="Ej : ejemplo@gmail.com" formControlName="email" [(ngModel)]="emailAnonimo" >
			</div>
			<div class="campo">
				<button (click)="generateCode()"><b>GENERAR CÓDIGO</b></button>
			</div>
			<div *ngIf="emailIsValid">
				* Ingresa un correo válido.
			</div>
		</div>
	</form>

</div>

<div class="modal fade" id="ModalComercio" role="dialog">
  <div class="modal-dialog modal-bg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>BUSCA TU COMERCIO MÁS CERCANO</b></h4>
        </div>
        <div class="modal-body" style="padding-top: 0px;">

          	<div class="int-modal-body-full" style="margin-top: 0px;">

          		<div data-map-id="1589a291ea631a" data-map-key="" data-tags="cupon multicaja" id="storepoint-container">&nbsp;</div>
<div class="row solo-puedes-pagar">
			  <div class="col-md-4"><b>Sólo puedes pagar en:</b></div>
			  <div class="col-md-4"><img src="./assets/img/pin_comercio.jpg" alt="pin comercio" width="35" height="48"><p>Comercios Multicaja</p></div>
			  <div class="col-md-4"><img src="./assets/img/pin_caja_los_heroes.jpg" alt="pin caja los heroes" width="35" height="48"><p>Caja Los Héroes</p></div>
		</div>

			</div>

        </div>
      </div>
    </div>
  </div>
