/* estilos flujo cupon */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,700,600');

html{
	background: url("../img/pattern_mc.png");
	background-repeat: repeat;
}

*:focus { outline: 0 !important; }

body{
	max-width: 1200px;
	/*max-height: 1049px;*/
	height: auto;
	background: #FFFFFF;
	margin: 0 auto;
	width: 90%;
    /*padding-bottom: 70px;*/
    margin-bottom: 40px;
    padding-right: 0px !important;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -ms-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    font-family: 'Titillium Web', sans-serif!important;
}

.no-footer{
    padding-bottom: 70px;
}

.transicion-btn{
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.modal{
    /*position: absolute;*/
    overflow: auto;
}

input[type="text"][disabled] {
   background: #efefef;
   border: 1px solid #CCCCCC;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #bababa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #bababa;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #bababa;
}
:-moz-placeholder { /* Firefox 18- */
  color: #bababa;
}
input:disabled::-webkit-input-placeholder { /* WebKit browsers */
    color:    #999;
}
input:disabled:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
input:disabled::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
input:disabled:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}
b{
    font-weight: 600;
}
header{
	width: 100%;
	height: 104px;
	background: #FFFFFF;
	border-bottom: 1px solid #e9e9e9;
    margin-bottom: 30px;
}

header img{
	margin-left: 78px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

header.transferencia-logo  img{
    margin-left: 78px;
    margin-top: 18px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
}

#lateral{
	/*width: 344px;*/
	height: auto;
	/*background: #FFFFFF;
	display: inline-table;*/
	border-right: 1px solid #d8d7d7;
	margin-top: 20px;
    padding-bottom: 20px;
}

.widget{
    /*width: 250px;*/
    height: auto;
    margin-right: 32px;
    margin-left: 63px;
    text-align: center;
    padding-bottom: 10px;
}

.widget img{
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

.widget > h1,.widget > p,.widget > span,.widget > a{
	font-family: 'Titillium Web', sans-serif;
}

.widget > h1{
	font-size: 16px;
	color: #666666;
	font-weight: 700;
	margin-bottom: 20px;
}

.widget > p{
	font-size: 16px;
	color: #666666;
	margin-bottom: 2px;
}

.widget > a{
    font-size: 16px;
    text-decoration: underline;
    width: 100%;
    display: block;
}

.widget > a:hover{
	text-decoration: none;
}

.widget > span{
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #e4e4e4;
    border-left: 4px solid #eb4949;
    font-size: 18px;
    color: #666666;
    margin-top: 25px;
    margin-bottom: 50px;
}

#contenido{
    /*width: 852px;*/
    height: auto;
    /*background: #FFFFFF;*/
    margin-top: 20px;
    float: right;
    text-align: center;
}

.lista-contenido ul{
    padding-left: 30px;
}

.lista-contenido ul li{
    list-style: none;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #666666;
    margin-bottom: 10px;
}

.lista-contenido ul li:before {
    content: "";
    border-color: transparent #cc0000;
    border-style: solid;
    border-width: 0.30em 0 0.30em 0.40em;
    display: block;
    height: 0;
    width: 0;
    left: -15px;
    top: 1.1em;
    position: relative;
}

.lista-contenido ul li a.rojo{
    color: #eb4949;
    text-decoration: none;
    font-weight: 600;
}
.lista-contenido ul li a.rojo:hover{
    color: #b94343;
}
a.term-cond-collap{
    color: #eb4949;
    text-decoration: none;
    font-weight: 600;
}
a.term-cond-collap:hover{
    color: #b94343;
}
.option{
	/*width: 690px;*/
	height: auto;
	background: #f7f7f7;
	border-radius: 6px;
	border: 1px solid #d5d4d4;
	display: inline-block;
    margin-left: 45px;
    cursor: pointer;
    margin-bottom: 20px;

    padding-top: 6px;
    padding-bottom: 6px;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.option:hover{
    background: #e6e6e6;
}

.option > a > .ico{
    width: 20%;
    height: 90px;
    padding-top: 30px;
    text-align: center;
    float: left;
}

.option > a > .txt{
    width: 70%;
    padding-top: 15px;
    float: left;
    padding-right: 20px;
}

.option > a >.txt > h1{
	font-size: 17px !important;
    font-weight: 700 !important;
    text-align: left !important;
    font-family: 'Titillium Web', sans-serif !important;
    color: #666666 !important;
    margin-bottom: 2px !important;
    margin-top: 0px !important;
}

.option > a > .txt > p{
	font-size: 14px;
    text-align: left;
    font-family: 'Titillium Web', sans-serif;
    color: #666666;
    font-weight: 300;
}

.option > a > .txt > ul{
    margin-top: 12px;
    padding-left: 0px;
    text-align: left;
}

.option > a > .txt > ul > li{
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #797878;
    margin-bottom: 3px;
}

.option > .action{
    width: 10%;
    height: 90px;
    text-align: left;
    padding-top: 30px;
    float: left;
}
.option > .action > a > img{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#titulo{
    margin-bottom: 25px;
}

#titulo h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #5e5e5e;
    margin: 0px;
    width: auto;
    display: inline-block;
}

#titulo h1 img{
    margin-left: 15px;
    position: relative;
    top: -3px;
}

#titulo p{
    font-family: 'Titillium Web', sans-serif;
    margin-top: 30px;
    margin-bottom: 15px;
    color: #666666;
    font-size: 16px !important;
    margin-bottom: 25px;
}

#titulo i{
    font-family: 'Titillium Web', sans-serif;
    color: #666666;
}

/* btn */
.btn-confirm{
    max-width: 535px;
    margin: 0 auto;
    margin-top: 45px;
    text-align: center;
}
.btn-no{
    width: 225px;
    height: 45px;
    background: #efefef;
    border: 1px solid #dddddd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    float: left;
    color: #828282;
}
.btn-cerrar{
    width: 225px;
    height: 45px;
    background: #efefef;
    border: 1px solid #dddddd;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    font-weight: 700;
    border-radius: 2px;
    color: #828282;
}
.btn-no:hover, .btn-cerrar:hover{
    background: #D5D4D4;
}
.btn-si{
    width: 225px;
    height: 45px;
    background: #eb4849;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    float: right;
}
.btn-volver-comprar{
    width: 220px;
    height: 45px;
    background: #eb4849;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
}
.btn-comprar{
    width: 135px;
    height: 45px;
    background: #eb4849;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    text-decoration: none;
    padding:0px;
}
.btn-continuar{
    width: 370px !important;
    height: 45px;
    background: #eb4849;
    font-family: 'Titillium Web', sans-serif;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    padding-top: 9px;
}
.btn-si:hover, .btn-volver-comprar:hover, .btn-comprar:hover, .btn-continuar:hover{
    background: #b94343;
    color: #FFFFFF;
    text-decoration: none;
}
/* btn */

.md{
    margin-bottom: 0px !important;
}
.md > h1{
    font-size: 24px !important;
}
.md > h1 > img{
    position: relative;
    top: -3px;
    left: 10px;
}
.tef{
    margin-bottom: 0px !important;
}
.tef > h1{
    font-size: 24px !important;
}
.tef > h1 > a > span > img{
    position: relative;
    top: -3px;
    left: 10px;
}
.marg-tef{
    width: 658px;
    margin-left: 45px;
}
.md > p{
    font-size: 14px !important;
}

.bg > h1{
    font-size: 26px !important;
}
select {
    color: #999!important;
}
select:focus {
    color: #666!important;
}
#option_selected{
    margin-top: -10px;
}
#option_selected > a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #ff3333;
    text-decoration: underline;
    display: block;
    font-weight: 600;
}
#option_selected > a:hover{
    text-decoration: none;
}
#option_selected i{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #666666;
    display: block;
    margin-top: 30px;
    margin-bottom: 20px;
}

#option_selected > #campos{
    margin-top: 40px;
    display: block;
}

#option_selected > #campos p{
    margin: 0 auto;
    display: inline-block;
    margin-top: 30px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #666666;
}

#option_selected > .campos-tef{
    margin-top: 20px !important;
}

#option_selected > .campos-tef > .campo{
    text-align: center;
}
#option_selected > .campos-tef > .campo > label{
    width: 240px;
}
#option_selected > .campos-tef > .campo > button{
    /*margin-left: 243px;*/
}

#option_selected > .campos-tef > .campo > i{
    width: 230px;
    /* float: right; */
    text-align: left;
    padding-left: 9px !important;
    margin-top: -42px !important;
    position: absolute;
    margin-left: 224px;
}

#option_selected > .campos-tef > .campo > a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #eb4949;
    display: block;
    text-align: right;
    margin-top: 34px;
    text-decoration: none;

    font-weight: bold;
}

#option_selected > .campos-tef > .campo > a:hover{
    text-decoration: underline;
}

#option_selected > #campos > .campo{
    width: 250px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}
#option_selected > #campos > .campo > label{
    color: #727272;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    padding-right: 10px;
    font-weight: 600;
}
#option_selected > #campos > .campo > input{
    height: 40px;
    padding-left: 15px;
    width: 220px;
    font-family: 'Titillium Web', sans-serif;
    border: 1px solid #cfcfcf;
    font-size: 16px;
}
#option_selected > #campos > .campo > button{
    background: #eb4949;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    width: 220px;
    height: 45px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 2px;
    font-weight: 700;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

#option_selected > #campos > .campo > button:hover{
    background: #b94343;
}
#option_selected > #campos > .campo > p:first-child{
    margin-top: 10px;
}

#option_selected > #campos > .campo > select{
    cursor: pointer;
    width: 220px;
    padding: 5px;
    font-size: 15px !important;
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    height: 40px;
    background: url(../img/arrow-select.jpg) no-repeat right #ffffff;
    -webkit-appearance: none;
    background-position-x: 180px;
    border-radius: 0px;
    padding-left: 10px;
    border: 1px solid #cfcfcf;
}

#option_selected > #campos > .campo > input[type="text"]:disabled{background-color:#ebebeb; color: #666666;}
#option_selected > #campos > .campo > input[type="email"]:disabled{background-color:#ebebeb; color: #666666;}
#option_selected > #campos > .campo > select option[disabled]{ color: red; }

#option_selected > #campos > .campo > p{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    width: 220px;
    float: right;
    line-height: 12px;
    color: #797878;
    font-size: 14px;
}
#option_selected > #campos > .campo > p > a{
    font-family: 'Titillium Web', sans-serif;
    color: #eb4949;
    font-weight: 600;
    text-decoration: underline;
}
#option_selected > #campos > .campo > p > a:hover{
    text-decoration: none;
}

#option_selected > #campos > .campo > button > i{
    font-family: FontAwesome;
    font-size: 23px;
    color: #FFFFFF;
    float: right;
    margin: 0px;
    margin-top: 2px;
    margin-right: 11px;
    margin-left: -10px;
}
.btn-ico-flecha{
    position: relative;
}
.btn-ico-flecha::after {
    content: url("../img/flecha-btn.png");
    position: absolute;
    right: 20px;
    top: 12px;
}
.terminos-condiciones{
    color: #666;
    margin-top: 20px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
    font-size: 16px;
}
.terminos-condiciones a{
    color: #eb4949;
    text-decoration: none;
    font-weight: 600;
}
.terminos-condiciones a:hover {
    color: #b94343;
}
.txt-termycondi {
    padding: 15px 30px;
    overflow-y: scroll;
    height: 633px;
}
.txt-termycondi h4 {
    font-size: 16px;
    color: #666;
    font-weight: 600;
    float: left;
    width: 100%;
}
.txt-termycondi p {
    font-size: 16px!important;
    color: #666!important;
    text-align: left!important;
}
table.tableterm {
    background-color: #f2f2f2;
    font-weight: 600;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    color:#666;
}
table.tableterm td, table.tableterm th {
    padding: 3px 2px;
}
table.tableterm tbody td {
    font-size: 15px;
}
table.tableterm tr:nth-child(even) {
    background: #fff;
    font-weight: 400;
    color: #808080;
}
table.tableterm thead {
    background: #ca3432;
}
table.tableterm thead th {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-align: center;
    padding: 15px;
}
table.tableterm thead th:first-child {
    border-left: none;
}

table.tableterm tfoot td {
    font-size: 13px;
}
table.tableterm tfoot .links {
    text-align: right;
}
table.tableterm tfoot .links a{
    display: inline-block;
    background: #FFFFFF;
    color: #A40808;
    padding: 2px 8px;
    border-radius: 5px;
}
.cerrar-modal-term {
    float: left;
    padding-left: 15px;
    padding-bottom: 25px;
    font-size: 16px;
    color: #006699;
    text-decoration: underline;
}
.modal-footer {
    border-top: none;
}
#volver {
    float: left;
    padding-left: 80px;
    padding-bottom: 200px;
    font-size: 16px;
}
#volver a {
    color: #eb4949;
    text-decoration: none;
    font-weight: 600;
}
#volver a:hover {
    color: #b94343;
}
.tooltop {
    position: relative;
    display: inline-block;
    margin-left: 5px;
}
.tooltop .tooltiptext {
    display: none;
    width: 188px;
    color: #848484;
    padding: 10px 5px 10px 15px;
    position: absolute;
    z-index: 1;
    border: 1px solid #eaeaea;
    top: -35px;
    right: -200px;
    text-align: left;
    background: #fff;
    font-size: 15px;
    font-weight: 400;
}
.transfier-tool .tooltiptext {
    font-size: 16px;
    line-height: 19px;
    color: #848484;
}
.tooltop:hover .tooltiptext {
    display: block;
}
.tooltop .tooltiptext:after{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 7px 6px 0;
    border-color: transparent #ffffff transparent transparent;
    display: block;
    top: 42px;
    position: absolute;
    left: -7px;
}
.tooltop .tooltiptext:before{
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7px 9px 7px 0;
    border-color: transparent #dedede transparent transparent;
    display: block;
    top: 41px;
    position: absolute;
    left: -9px;
}
.tool-cont{
    position: relative;
}
.tooltop.desabilitar:hover .tooltiptext {
    display: none;
}
.tipso_bubble{ text-align: left !important; padding-left: 10px !important; border-radius: 0px !important; border: 1px solid #CCCCCC !important; }
.volver > a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #eb4949;
}

.modal-body .volver{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}
.modal-body .volver a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #eb4949;
}

.modal-body .cerrar{
    max-width: 520px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
}
.modal-body .cerrar a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #006699;
    text-decoration: underline;
}

.info_cupon{
    border: 1px solid #e4e4e4;
    border-left: 4px solid #eb4949;
    height: auto; /* 101px */
    margin-left: 45px;
    padding-bottom: 15px;
}

.info_cupon > .ico{
    width: 9%;
    height: 90px;
    padding-top: 25px;
    text-align: center;
    float: left;
}
.info_cupon > .txt{
    width: 99%;
    float: left;
    text-align: left;
    margin-left: 10px;
}
.info_cupon > .txt > h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 23px;
    color: #666666;
    margin: 0px;
    margin-top: 15px;
    margin-bottom: 20px;
}
.info_cupon > .txt > p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #666666;
}
.info_cupon > .txt > p > span{
    color: #cc4a4a;
}
li.info-expiro:before{
    content: "";
    width: 5px;
    height: 5px;
    background: #666;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    border-radius: 50%;
}
li.info-expiro {
    text-indent: -13px;
    padding-left: 13px;
}
.red-b:visited{ color: #eb4949 !important; }
.red-b:link{ color: #eb4949 !important; }
.red{ color: #eb4949; text-decoration: underline; }
.red:hover{ color: #b94343; }
.celeste{ color: #008bcc; }
.celeste-modal{
    color: #008bcc;
    text-decoration: underline;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

.contenido{
    border: 1px solid #e4e4e4;
    margin-left: 45px;
    text-align: left;
    margin-top: 20px;
}
.contenido p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #666666;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.puedes-pagar-en-los{
    background: #efefef;
    border-bottom: 1px solid #dddddd;
    padding-top: 4px;
    padding-bottom: 4px;
    margin-top: 0px !important;
    padding-left: 28px;
    margin-bottom: 0px !important;
}

/* solo puedes pagar */
.solo-puedes-pagar{
    margin-top: 13px;
    margin-bottom: 23px;
}
.solo-puedes-pagar img{
    float: left;
    margin-right: 13px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
.solo-puedes-pagar b{
    font-family: 'Titillium Web', sans-serif;
    margin-left: 30px;
    font-size: 15px;
    color: #666666;
    margin-top: 15px;
    display: block;
}

#storepoint-searchbar{ margin-left: 17px !important; }
#storepoint-container .storepoint-location div{ margin-left: 8px !important; }

/*.pasos-para-pagar .col-md-4:nth-child(1){
    width: 40%;
}
.pasos-para-pagar .col-md-4:nth-child(2){
    width: 35%;
}
.pasos-para-pagar .col-md-4:nth-child(3){
    width: 24%;
}*/

.pasos-para-pagar img{
    float: left;
    margin-bottom: 95px;
    margin-right: 5px;
}

.panel-title > a:before {
    float: right !important;
    font-family: FontAwesome;
    content:"\f077";
    padding-right: 5px;
        font-size: 8px;
    margin-top: 2px;
    margin-right: -2px;
    color: #9f9f9f;
}
.panel-title > a.collapsed:before {
    float: right !important;
    content:"\f054";
    font-size: 8px;
    margin-top: 2px;
    margin-right: -2px;
    color: #9f9f9f;
}

.panel-title > a > i{
    float: right;
    font-size: 8px;
    margin-top: 2px;
    margin-right: -2px;
    color: #9f9f9f;
}
.panel-title > a > p{
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #797878;
}
.panel-title > a > p > i{
    font-size: 7px;
    float: left;
    display: block;
    margin-top: 5px;
    margin-right: 9px;
}
.panel-title > a:hover{
    text-decoration: none;
}
.panel-title > a:focus{
    text-decoration: none;
}
.no-p{
    padding: 0px;
}
.no-b{
    border: none;
}
.no-mt{
    margin-top: 5px;
}
.no-p-m{
    margin-top: 0px !important;
}
.panel-default>.panel-heading{
    border: none;
    background: #efefef;
    /*border-bottom: 1px solid #d5d5d5;*/
}
.panel-group .panel{
    border-radius: 0px;
    border: none;
}
.panel-body > .col-sm-2{
    text-align: center;
}
.panel-body > .col-sm-3{
    text-align: center;
}
.panel-body > .col-sm-4{
    text-align: center;
}
.panel-body > .col-sm-2 > b{
    font-size: 14px;
    color: #5e5e5e;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
.panel-body > .col-sm-3 > b{
    font-size: 14px;
    color: #5e5e5e;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
.panel-body > .col-sm-4 > b{
    font-size: 14px;
    color: #5e5e5e;
    margin: 0px;
    font-family: 'Titillium Web', sans-serif;
}
.panel-body > .col-sm-2 > p{
    margin-top: 5px;
}
.panel-body > .col-sm-3 > p{
    margin-top: 5px;
}
.panel-body > .col-sm-4 > p{
    margin-top: 5px;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body{
    border-top-color: none;
}
.panel-group .panel-heading+.panel-collapse>.panel-body{
    border-top: none;
}
.panel{
    box-shadow: none;
}
.panel-group{
    margin-bottom: 0px;
}
.panel-body{
    padding-bottom: 5px;
}
.panel-body ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-left: 14px;
    margin-bottom: 15px;
    display: block;
}
.panel-body > p{
    margin-left: 15px;
}
.panel-body div p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #666666;
    margin: 0px;
}

.puntos_{

}

.punto{
    margin-left: 15px;
    margin-bottom: 3px;
    display: flex;
}

.numero_{
    width: 10px;
    float: left;
}
.detalle_{
    float: left;
    width: 615px;
    padding-left: 5px;
}

.enlace-celeste{
    color: #008bcc;
}

#imprimir_btn{
    width: 222px;
    height: 44px;
    background: #efefef;
    border: 1px solid #dddddd;
    font-family: 'Titillium Web', sans-serif;
    float: left;
    font-size: 18px;
    font-weight: 500;
    color: #828181;
    border-radius: 2px;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}
#imprimir_btn img{
    margin-left: 15px;
}
#imprimir_btn:hover{
    background: #D5D4D4;
}
#finalizar_btn{
    width: 222px;
    height: 44px;
    background: #eb4949;
    border: none;
    font-family: 'Titillium Web', sans-serif;
    float: right;
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    border-radius: 2px;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}
#finalizar_btn i{
    margin-left: -30px;
    font-size: 24px;
    margin-top: 0px;
    float: right;
    margin-right: 24px;
}
#finalizar_btn:hover{
    background: #b94343;
}

.ayuda{
    padding: 0px;
    -webkit-border-radius: 60px 60px 60px 60px;
    border-radius: 60px 60px 60px 60px;
    margin-top: 90px;
}
.ayuda > .ico{
    width: 13%;
    height: 59px;
    padding-top: 9px;
    text-align: right;
    float: left;
    padding-right: 11px;
}
.ayuda > .txt{
    width: 81%;
    float: left;
    text-align: left;
    margin-left: 5px;
}
.ayuda > .txt > p{
    font-size: 14px;
    color: #797878;
    margin-top: 9px;
    margin-bottom: 0px;
    font-family: 'Titillium Web', sans-serif;
}

#active-responsive{
    display: none;
}

/* modal */

.modal-header{
    padding:25px;
}
.modal-title{
    text-align: center;
    color: #666666;
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
}
.modal-title b{
    font-weight: 700;
}
.int-modal-body{
    width: 70%;
    margin: 0 auto;
}
.int-modal-body-full{
    width: 95%;
    margin: 0 auto;
    margin-top: 5px;
}
.int-modal-body-full-dos{
    width: 95%;
    margin: 0 auto;
    /*max-width: 370px;*/
    margin-top: 5px;
}
.int-modal-body-full-dos p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #666666;
}
.int-modal-body-full-dos p input{
    float: left;
    margin-top: 5px;
    margin-right: 3px;
}
.int-modal-body-full-dos p a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    color: #eb4949;
}
.int-modal-body-full-dos .center-p-check{
    max-width: 350px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}


.int-modal-body-full-dos > #campos{
    margin-top: 40px;
    display: block;
}

.int-modal-body-full-dos > .campos-tef{
    margin-top: 20px !important;
}

.ir-banco{
    margin-bottom: 18px;
}

.int-modal-body-full-dos > .campos-tef > .campo{
    max-width: 370px;
    text-align: left !important;
    width: 100% !important;
}
.int-modal-body-full-dos > .campos-tef > .campo > label{
    width: 100%;
    text-align: left;
}
.int-modal-body-full-dos > .campos-tef > .campo > button{
    margin-left: 243px;
}

.int-modal-body-full-dos > .campos-tef > .campo > i{
    width: 230px;
    float: right;
    text-align: left;
    padding-left: 9px !important;
    margin-top: 0px !important;
}

.int-modal-body-full-dos > .campos-tef > .campo > a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #eb4949;
    display: block;
    text-align: right;
    margin-right: 237px;
    margin-top: 5px;
    text-decoration: none;

    font-weight: bold;
}

.int-modal-body-full-dos > .campos-tef > .campo > a:hover{
    text-decoration: underline;
}

.int-modal-body-full-dos > #campos > .campo{
    width: 283px;
    text-align: right;
    margin:0 auto;
    margin-bottom: 20px;
    position: relative;
}
.int-modal-body-full-dos > #campos > .campo > label{
    color: #727272;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
    padding-right: 10px;
    font-weight: 600;
}
.int-modal-body-full-dos > #campos > .campo > input{
    height: 40px;
    padding-left: 15px;
    width: 100%;
    font-family: 'Titillium Web', sans-serif;
    border: 1px solid #cfcfcf;
    font-size: 16px;
}
.int-modal-body-full-dos > #campos > .campo > button{
    background: #eb4949;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    width: 220px;
    height: 40px;
    font-family: 'Titillium Web', sans-serif;
    border-radius: 2px;
    font-weight: 600;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
}

.int-modal-body-full-dos > #campos > .campo > button:hover{
    background: #b94343;
}
.int-modal-body-full-dos > #campos > .campo > p:first-child{
    margin-top: 10px;
}

.int-modal-body-full-dos > #campos > .campo > select{
    cursor: pointer;
    width: 220px;
    padding: 5px;
    font-size: 16px;
    line-height: 1;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    height: 40px;
    background: url(../img/arrow-select.jpg) no-repeat right #ffffff;
    -webkit-appearance: none;
    background-position-x: 180px;
    border-radius: 0px;
    padding-left: 10px;
    border: 1px solid #cfcfcf;
}
select{
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
}
.int-modal-body-full-dos > #campos > .campo > input[type="text"]:disabled{background-color:#ebebeb; color: #666666;}
.int-modal-body-full-dos > #campos > .campo > select option[disabled]{ color: red; }

.int-modal-body-full-dos > #campos > .campo > p{
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    width: 220px;
    float: right;
    line-height: 12px;
    color: #797878;
    font-size: 14px;
}
.int-modal-body-full-dos > #campos > .campo > p > a{
    font-family: 'Titillium Web', sans-serif;
    color: #eb4949;
    font-weight: 600;
    text-decoration: underline;
}
.int-modal-body-full-dos > #campos > .campo > p > a:hover{
    text-decoration: none;
}

.int-modal-body-full-dos > #campos > .campo > button > i{
    font-family: FontAwesome;
    font-size: 23px;
    color: #FFFFFF;
    float: right;
    margin: 0px;
    margin-top: 2px;
    margin-right: 11px;
    margin-left: -10px;
}


.int-modal-body p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 18px;
    color: #666666;
    font-weight: 600;
    margin-left: 20px;
}
.int-modal-body p.text-left{
    margin-left: 0px;
}
.int-modal-body ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    margin-top: 25px;
}
.int-modal-body ul li{
    margin-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    color: #666666;
}
.int-modal-body ul li input{
    float: left;
    margin-right: 7px;
    margin-top: 3px;
}
.int-modal-body ul li input[type=text]{
    width: 384px;
    padding-left: 19px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-body p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 17px;
    color: #666666;
    text-align: center;
    margin-top: 10px;
}

.modal-body #storepoint-search{
    padding-top: 30px !important;
}

.modal-body #storepoint-search .storepoint-tag{
    display: none !important;
}

.modal-body .solo-puedes-pagar{
    margin-top: 20px;
    margin-bottom: 30px;
}
.modal-body .solo-puedes-pagar .col-md-4:nth-child(2){
    width: 35%;
}
.modal-body .solo-puedes-pagar .col-md-4:nth-child(3){
    width: 31%;
}

.modal-body .solo-puedes-pagar b{
    margin-left: 17px;
}
.modal-body .solo-puedes-pagar p{
    font-family: 'Titillium Web', sans-serif;
    margin-top: 15px;
}

.botones-modal{
    overflow: hidden;
    margin-top: 40px;
    margin-bottom: 20px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    /*text-align: center;*/
}
.botones-center{
    text-align: center;
}
.botones-modal-full{
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 20px;
}
.botones-modal-full a{
    width: 100%;
}
.bt-m-n{
    width: 135px;
    height: 45px;
    background: #efefef;
    border: 1px solid #dedddd;
    color: #828181 !important;
    text-decoration: none !important;
    float: left;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
    border-radius: 2px;
}
.bt-m-a{
    width: 135px;
    height: 45px;
    background: #eb4949;
    color: #FFFFFF !important;
    text-decoration: none !important;
    float: right;
    font-size: 18px;
    text-align: center;
    padding-top: 8px;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    -webkit-transition: background 500ms ease-in-out;
    -moz-transition: background 500ms ease-in-out;
    -ms-transition: background 500ms ease-in-out;
    -o-transition: background 500ms ease-in-out;
    transition: background 500ms ease-in-out;
    border-radius: 2px;
}
.bt-m-n:hover{
    text-decoration: none;
    color: #828181;
    background: #D5D4D4;
}
.bt-m-a:hover{
    text-decoration: none;
    color: #FFFFFF;
    background: #b94343;
}

#tabla-detalle{
    width: 100%;
    height: auto;
    display: inline-block;
    border: 1px solid #CCC;
    text-align: center;
}
#tabla-detalle div{
    padding: 0px;
}
#tabla-detalle div b{
    background: #efefef;
    color: #666666;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 12px;
}
#tabla-detalle div p{
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
    color: #666666;
    padding-top: 8px;
}

.tf-color .panel-default .panel-heading{
    background: #006699;
    padding: 10px 25px !important;
}
.tf-color .panel-title > a > p{
    color: #FFF;
}
.tf-color .panel-title > a:before{
    display: none;
}
.tf-color .panel-title>a{
    pointer-events: none;
    cursor: default;
}

#list-izq{
width: 49%;
float: left;
text-align: right;
margin: 0px;
padding: 0px;
margin-top: 15px;
margin-bottom: 15px;
}
#list-izq > li{
list-style: none;
font-family: 'Titillium Web', sans-serif;
font-size: 16px;
color: #666666;
}
#list-izq > li > span{
    font-size: 12px;
    background: #f2d429;
    color: #5e5926;
    font-weight: 700;
    padding: 0px 5px;
    border-radius: 3px;
    margin-right: 6px;
}
#list-izq > li > span.badge-red{
    background: #cc311d;
    color: #FFFFFF;
}
#list-der{
width: 49%;
float: right;
text-align: left;
margin: 0px;
padding: 0px;
margin-top: 15px;
margin-bottom: 15px;
}
#list-der > li{
list-style: none;
font-family: 'Titillium Web', sans-serif;
font-size: 16px;
color: #666666;
}

.info_cupon ul{
    margin: 0px;
    padding: 0px;
    text-align: left;
    margin-top: 10px;
    margin-left: 1px;
    margin-bottom: 0px;
    line-height: 30px;
}
.info_cupon ul li{
    list-style: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #525252;
}
.info_cupon ul li i{
    font-size: 5px;
    float: left;
    margin-top: 13px;
    margin-right: 6px;
}
.message-icon-02{
    /*margin-bottom: 15px;*/
    margin-top: 10px;
}
.message-icon-03{
    margin-bottom: -5px;
    margin-top: 5px;
}
.ico_important_desk{
    margin-bottom: 10px;
    float: left;
    margin-top: 3px;
    margin-right: 7px;
}
.ico_important_resp{
    display: none;
}


  /* alerta */
  .alert{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: -10px;
    border-radius: 0px;
    padding-left: 45px;
    font-family: 'Titillium Web', sans-serif;
  }
  .alert .close {
    text-shadow: none !important;
    opacity: 1 !important;
    margin-top: 3px;
  }
  .alert-danger .close{
    color: #a94442 !important;
  }
  .close-blue {
    color: #3c7896 !important;
  }
/*=================*/
/*=================*/
.px14{
    font-size: 14px!important;
}
.body-txt{
    /*text-align: center;*/
    color:#666666;
}

/* terminos y condiciones modal*/
#terminos-y-condiciones{
    /*max-width: 450px;*/
    margin: 0 auto;
    margin-top: 20px;
}
.term-cond{
    border: 1px solid #CCCC;
    padding: 25px;
    max-width: 85%;
    margin: 0 auto;
    max-height: 300px;
    overflow-y: scroll;
}
.term-cond h1{
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    color: #666666;
    font-weight: 800;
    margin-top: 0px;
    margin-bottom: 20px;
}
.term-cond p{
    font-size: 17px;
    font-family: 'Titillium Web', sans-serif;
    color: #666666;
    margin-bottom: 20px;
    text-align: left;
}
.term-cond-full{
    border: none;
    max-width: 100%;
    padding: 10px;
}
.enlace-modal{
    color: #008bcc !important;
}
.message-p{
    max-width: 1080px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 25px;
}
.message-p p{
    color: #525151;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
}

/* olvide - clave */
.olvido-clave{
    text-align: right;
    margin-top: -10px;
    max-width: 370px;
    margin: 0 auto;
}
.olvido-clave a{
    font-family: 'Titillium Web', sans-serif;
    color: #eb4949;
    font-weight: 600;
    font-size: 16px;
    text-decoration: none;
}
.olvido-clave a:hover{
    color: #b94343;
}
.condiciones_p{
    float: left;
    margin-left: 45px;
    margin-top: 35px;
}
.condiciones_p p{
    font-size: 14px;
    color: #666666;
    font-family: 'Titillium Web', sans-serif;
}
.condiciones_p p a{
    font-family: 'Titillium Web', sans-serif;
    color: #eb4949;
    font-weight: 600;
}
.condiciones_p table {
    border-collapse: collapse;
}

.condiciones_p table, th, td {
   /* border: 1px solid #bdbdbd;
    text-align: center; */
}

#ModalTyC .int-modal-body h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
    margin-bottom: 30px;
}

#ModalTyC .int-modal-body p{
    font-size: 15px;
    font-weight: 300 !important;
    margin-left: 0px !important;
}


.alerta-nuevo-warning{
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    margin-left: 45px;
    width: 83.2%;
    margin-bottom: 0px;
    background: #faeea9;
    border: none;
    margin-top: 20px;
}
.alerta-nuevo-danger{
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    margin-left: 45px;
    width: 83.2%;
    margin-bottom: 0px;
    background: #eac8c7;
    color: #3f2b2d;
    border: none;
    margin-top: 20px;
}

.volver-content{
    max-width: 80%;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 25px;
    display: block;
}
.volver-content a{
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    color: #eb4949;
    font-weight: 600;
}
.volver-content a:hover{
    text-decoration: none;
    color: #b94343;

}
.borde-rojo-caja{
    border-left: 4px solid #ed3030;
}
/*Pantalla anumar correo*/
.anula-correo-cont #titulo h1{
    color: #666;
}
.motivo-anular{
    width: 100%;
    max-width: 384px;
    text-align: left;
}
.text-left{
    text-align: left!important;
}
/*Pantalla anumar correo END*/
/* footer */
footer{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #333333;
    margin-top: 110px;
}
footer p{
    color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}


.pasos-comercio{
	display: none;
	padding: 0px !important;
}

.panel-default>.panel-heading {
    border: none;
    background: #efefef;
}

.pie-pagina {
	text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    background: #333333;
    margin-top: 110px;
}

.pie-pagina > p{
	color: #FFFFFF;
    font-family: 'Titillium Web', sans-serif;
    font-size: 14px;
}

.instrucciones-print {
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 30px;
}

.panel-title > a > p{
	text-align: left;
}
#storepoint-container #storepoint-search #storepoint-searchbar{
	margin-left: 0px;
}
.storepoint-tag{
	display: none !important;
}
#storepoint-container{
	margin-top: 0px !important;
}

#storepoint-tag-dropdown {
  display: none !important;
}

/*body{
	padding-bottom: 70px;
}*/
.option > a > .ico {
    width: 28%;
    padding-top: 32px;
    text-align: left;
    padding-left: 8px;
}
.option > .action{
	width: 5%;
    text-align: right;
    padding-right: 20px;
}
.option > a > .txt {
    width: 67%;
}
@media only screen and (max-width: 1155px) {
.option > a > .ico {
    width: 155px;
}
.option > a > .txt {
    width: 60%;
}
}
@media only screen and (max-width: 990px) {
.option > a > .ico {
    width: 100%;
    text-align: center;
    padding-top: 17px;
}
.option > a > .txt{
    padding-top: 0px;
    width: 93%;
    padding-right: 10px;
}
.option > .action > a > img{
	padding-top: 26px;
}
}
