@import
	url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css')
	;

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	zoom: 90%
}

.col-md-4 p i {
	font-size: 14px;
}

a[target=_blank]:after {
	display: none;
}

header.transferencia-logo img {
	margin-left: 45px !important;
}

header {
	height: 80px;
}

footer {
	background-color: #333333 !important;
	-webkit-print-color-adjust: exact;
	margin-top: 0px !important;
	padding-top: 10px;
	padding-bottom: 10px;
}

footer p {
	margin: 0px;
}

footer p, footer p b {
	color: #ffffff !important;
}

#lateral {
	display: none;
}

.buttons {
	display: none;
}

header {
	border-bottom: none;
}

#titulo {
	display: none;
}

#contenido {
	width: 100%;
	margin: 0;
	margin-top: -20px;
}

.row {
	margin-right: -15px;
	margin-left: -15px;
}

.col-md-4 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	width: 33.33333333%;
}

.pasos-comercio {
	display: block;
}

.none-print {
	display: none !important;
}

#storepoint-search {
	display: none;
}

.gmnoprint {
	display: none;
}

.panel-default>.panel-heading {
	border: none;
	background: #efefef;
}

img {
	max-width: none !important;
}

.puedes-pagar-en-los {
	background-color: #efefef !important;
	-webkit-print-color-adjust: exact;
}

#storepoint-container {
	position: relative !important;
}

@media ( max-width : 600px) {
	#storepoint-container #storepoint-map {
		display: inline-block !important;
		position: absolute !important;
		width: 35% !important;
		height: 300px !important;
		margin: 0 !important;
		padding: 0 !important;
		left: 200px !important;
		overflow: hidden !important;
		z-index: 1;
		float: right !important;
		top: 0px;
	}
	#storepoint-container #storepoint-panel {
		width: 35% !important;
		height: auto !important;
		background-color: rgb(255, 255, 255) !important;
		font-family: 'Roboto', sans-serif !important;
		padding-top: 0px !important;
		z-index: 2;
		height: 300px !important;
		overflow: hidden !important;
		border: 1px solid #ccc;
	}
	.gmnoprint {
		display: none !important;
	}
	.solo-puedes-pagar {
		display: none;
	}
	div#storepoint-container {
		overflow: hidden !important;
	}
	.info_cupon {
		padding-bottom: 5px;
	}
	.contenido p {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.info_cupon>.txt>h1 {
		margin-top: 8px;
		margin-bottom: 8px;
	}
	.info_cupon {
		margin-top: 10px;
		height: 120px;
	}
}

#storepoint-container .storepoint-location {
	margin-left: -15px;
	margin-top: -10px;
	margin-bottom: 0px !important;
}

#storepoint-container .storepoint-location .storepoint-distance {
	padding-bottom: 5px;
	margin-bottom: -11px;
	margin-top: -10px;
}
