@import url(https://fonts.googleapis.com/css?family=Oxygen:400,700,300);
/*@import url(responsive.css);*/

*{
  font-family: 'Oxygen', sans-serif;
  color: #666;
}
/* globales*/
.regular{
  font-weight: normal !important;
}
.bold{
  font-weight: bold !important;
}
a{
  color: #006699;
  text-decoration: underline;
}
.bold{
  font-weight: bold;
}
.p_top_45{
  padding-top: 45px !important;
}
.p_0{
  padding: 0 !important;
}
.m_top_5{
  margin-top: 5px !important;
}
.m_top_10{
  margin-top: 10px !important;
}
.m_top_15{
  margin-top: 15px !important;
}
.m_top_25{
  margin-top: 25px !important;
}
.m_top_35{
  margin-top: 35px !important;
}
.m_top_45{
  margin-top: 45px !important;
}
.m_top_50{
  margin-top: 50px;
}
.m_top_70{
  margin-top: 70px !important;
}
.m_bottom_0{
  margin-bottom: 0px !important;
}
.m_bottom_5{
  margin-bottom: 5px !important;
}
.m_bottom_45{
  margin-bottom: 45px !important;
}
.border-botton_none{
  border-bottom: none;
}
.no_arrow{
  background-image: none !important;
}
.color-primary{
  color: #eb4949;
}
.text-none a{
  text-decoration: none !important;
}
.btn_red{
  width: 225px;
  height: 45px !important;
  color: #fff;
  background-color: #eb4949;
  background-image: url(/img/flecha-boton-siguiente.png);
  background-repeat: no-repeat;
  background-position: 194px;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: none;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn_red:hover{
  background-color: #b94343
}
.btn_red_big{
  width: 135px;
  height: 45px !important;
  color: #fff;
  background-color: #eb4949;
  background-image: url(/img/flecha-boton-siguiente.png);
  background-repeat: no-repeat;
  background-position: 194px;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: none;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn_red_big:hover{
  background-color: #b94343
}
.btn_big{
  width: auto !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}
.btn_pop_left{
  margin-right: 30px;
}
.btn_pop_right{
  margin-left: 30px;
}
.btn_panel{
  width: 615px;
  height: 45px !important;
  color: #818080;
  background-image: url(/img/flecha-boton-siguiente_new.png);
  background-position: 583px !important;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: none;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn_panel:hover{
  background-color: #d5d4d4;
}
.celeste{
  color: #008bcc !important;
}
.font_12{
  font-size: 12px !important;
}
.font_14{
  font-size: 14px !important;
}
.font_15{
  font-size: 15px !important;
}
.font_16{
  font-size: 16px !important;
}
.font_18{
  font-size: 18px !important;
}
.font_22{
  font-size: 22px !important;
}
.font_24{
  font-size: 24px !important;
}
.btn_grey{
  width: 225px;
  height: 45px !important;
  color: #818080;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 194px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: none;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn_grey_big{
  width: 135px;
  height: 45px !important;
  color: #818080;
  background-color: #eeeeee;
  background-repeat: no-repeat;
  background-position: 194px;
  border: 1px solid #dcdcdc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  float: none;
  margin: 0 auto;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}
.btn_grey_big:hover{
  background-color: #d5d4d4;
}
.btn_print_ico{
  background-image: url(/img/print_btn.png);
  background-repeat: no-repeat;
  background-position: 78% 50%;
}
.btn_grey:hover{
  background-color: #d5d4d4;
}
.left{
  float: left;
}
.right{
  float: right;
}
.center{
  float: none !important;
  display: block !important;
  margin: 0 auto;
}
.center_text{
  text-align: center;
}
.left_text{
  text-align: left;
}
.right_text{
  text-align: right;
}
.under_line{
  padding-bottom: 15px !important;
  border-bottom: 1px solid #e8e8e8 !important;
}
.center_margin{
  float: none;
  margin: 0 auto;
}
.no_border{
  border: none !important;
}
.transform_none{
  text-transform: none !important;
}
.txt_22{
  font-size: 22px !important;
}
.no_back{
  background: none !important;
}
.no_margin{
  margin: 0 !important;
}
.border_none{
  border: none !important;
}
.border_none_bottom{
  border-bottom: none !important;
}
.print_btn{
  background-image: url(/img/print_ico.png);
  border: none;
  width: 39px;
  height: 39px;
}
.print_top_right{
  position: absolute;
  top: -30px;
  right: 15px;
}
.m_botton_20{
  margin-bottom: 20px !important;
}
.p_botton_20{
  padding-bottom: 20px !important;
}
/*** acordeon ***/
.acordeon_header{
  position: relative;
  cursor: pointer;
  padding-left: 10px !important;
  height: 29px;
  padding-top: 4px !important;
}
.acordeon_content{
  display: none;
  font-size: 14px !important;
}
.header_arrow{
  width: 10px;
  height: 10px;
  position: absolute;
  top: 11px;
  right: 5px;
  background-repeat: no-repeat;
}
.arror_left{
  background-image: url(/img/little_arrow.png);
}
.arror_down{
  background-image: url(/img/flecha-der-2.png);
}
.btn_volver_ingreso{
  margin-left: 33.33333333%;
}
.BB_acord{
  border-bottom: 1px solid #e8e8e8;
}
/*************************/
body.back{
  background-image: url(/img/patron-multicaja.png);
  background-color: #ccc;
  width: 100%;
}
body.dark{
  background-image: url(/img/patron-multicaja-dark.png) !important;
  width: 100%;
}
.container{
  background: #fff;
  /*padding: 30px 50px;*/
  position: relative;
}
.header{
  padding: 22px 0;
  border-bottom: 1px solid #e8e8e8;
}
.header h1{
  text-align: center;
  color: #666666;
  width: 100%;
  font-size: 28px;
  margin: 11px 0 0;
  text-transform: uppercase;
  font-weight: bold;
}
.img-margin{
  margin: 0 auto;
  display: block;
  padding: 0 30px 0  30px;
}
.title-padding{
  padding-top: 12px;
}
.modal-padding{
  padding-left: 85px;
}
.sin_descr .header .img_1{
  margin-left: 24px !important;
}
.content{
  margin-top: 61px;
  padding-bottom: 130px;
}
.content-inside{
  margin-top: 60px;
  padding-bottom: 130px;
}
dl {
    margin-bottom: 0px;
}
.general_descrip{
  border-right: 1px solid #d7d6d6;
  max-width: 330px;
  text-align: center;
  float: left;
}
.descrip_content{
  width: 265px;
  margin: 0 auto;
  padding-left: 15px;
}
.descrip_content img{
  width: 140px;
  height: 42px;
  margin: 0 auto;
}
.descrip_content .volver{
  margin-top: 45px;
  display: block;
  padding-bottom: 30px;
}
.descrip_content h2{
  font-size: 16px;
  color: #666;
  width: 100%;
  text-align: center;
  font-weight: bold;
}
.descrip_content .descrip{
  color: #666;
  font-size: 14px;
  text-align: center;
  overflow: hidden;
}
.descrip_content .descrip span{
  padding: 10px;
}
.total{
  border-top: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    border-left: 4px solid #eb4949;
    clear: both;
    padding: 7px;
    font-size: 18px;
    margin: 10px 0 10px 0;
    /*height: 38px;*/
}
.total_transferencia{
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 4px solid #cc4a4a;
  clear: both;
  padding: 12px;
  font-size: 15px;
  margin: 15px auto 0;
  width: 100%;
}
.total_detalle{
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 4px solid #cc4a4a;
  clear: both;
  padding: 12px;
  font-size: 15px;
  margin: 15px auto 0;
}
.total_multicaja{
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 4px solid #cc4a4a;
  clear: both;
}
.total_big{
  border-top: 1px solid #e4e4e4;
  border-right: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  border-left: 4px solid #cc4a4a;
  clear: both;
  padding-top: 10px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 16px;
  margin: 15px auto 0;
  height: 38px;
  width: 37%;
  float: right;
}
.general_descrip .opciones_pago{
  width: 250px;
  border: 1px solid #d5d4d4;
  padding: 15px 10px;
  margin-top: 20px;
}
.general_descrip .opciones_pago p{
  font-weight: bold;
  text-align: left;
}
.general_descrip .opciones_pago .opcion{
  width: 100%;
  height: 35px;
  margin: 0 auto;
  text-align: left;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #d5d4d4;
  margin-bottom: 10px;
  font-weight: bold;
  padding: 8px 18px;
  cursor: pointer;
  background-image: url(/img/little_arrow_2.png);
  background-repeat: no-repeat;
  background-position: 205px 10px;
}
/*.cod_generado_content{
  height: 71px !important;
  padding: 10px 0 !important;
}*/
.general_descrip .opciones_pago .opcion:hover{
  background-color: #e4e4e4;
}
.medio_pago{
  padding-left: 30px;
  padding-right: 30px;
}
.medio_pago h2{
  font-size: 16px;
  margin: 0 0 10px;
  font-weight: bold;
  width: 100%;
    text-align: center;
}
.medio_pag_pers{
  width: 830px;
    padding-left: 85px;
    padding-right: 75px;
}
.medio_pago .medio_content{
  background: #e4e4e4;
  padding: 17px 32px !important;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  margin-top: 12px;
  cursor: pointer;
  height: 90px;
  border: 1px solid #ccc;
  max-width: 690px;
    float: right;
}
.medio_content:hover{
  background: #cfcece !important;
}
.medio_pago .medio_content .img_big{
  padding: 25px 0 0 !important;
}
.medio_pago .medio_content .img_big img{
  width: 69px !important;
}
.medio_pago .medio_content .img_content{
  padding-top: 15px;
}
.medio_pago .medio_content .img_content .img{
  width: 49px;
}
.medio_pago .medio_content .content{
  margin: 0;
  padding: 0 0 0 10px;
}
.medio_pago .medio_content .content h3{
  font-size: 17px;
  font-weight: bold;
  margin: 0;
}
.medio_pago .medio_content .content p{
  font-size: 14px;
  margin: 0;
}

.medio_pago .medio_content .arrow{
  padding-top: 15px;
  text-align: right;
}
p.bajada_cursiva{
  font-weight: normal;
  font-style: italic;
}
.login_content .txt{
  text-align: right;
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
}
.login_content .input{
  width: 225px;
  height: 40px;
  border: 1px solid #d9d9d9;
  padding: 0;
}
.login_content .input input{
  width: 100%;
  height: 38px;
  border: none;
  padding-left: 15px;
}

/*****************/
/****** pop ******/

body.back_pop{
  background-image: url(/img/back_pop.png);
}
.pop_container{
  margin-top: 40px;
  max-width: 700px;
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid #efefef;
  padding: 60px 36px 45px;
}
.pop_container .white_content{
  background-color: #fff;
  position: relative;
  padding: 0 0 47px;
}
.pop_container .pop_container .header{
  padding-top: 27px;
  padding-bottom: 15px;
}
.pop_container .cerrar{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.pop_container .header p{
  font-size: 16px;
}
.pop_container .bajada_pop{
  width: 90%;
  margin: 0 auto;
}
.pop_container .content_pop{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
/* Pop container big*/

.pop_container_big{
  margin-top: 40px;
  max-width: 1000px;
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid #efefef;
  padding: 60px 36px 45px;
}
.pop_container_big .white_content{
  background-color: #fff;
  position: relative;
  padding: 0 0 47px;
}
.pop_container_big .pop_container .header{
  padding-top: 27px;
  padding-bottom: 15px;
}
.pop_container_big .cerrar{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.pop_container_big .header p{
  font-size: 16px;
}
.pop_container_big .bajada_pop{
  width: 90%;
  margin: 0 auto;
}
.pop_container_big .content_pop{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}

/* Pop container medium */

.pop_container_medium{
  margin-top: 40px;
  max-width: 865px;
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid #efefef;
  padding: 60px 36px 45px;
}
.pop_container_medium .white_content{
  background-color: #fff;
  position: relative;
  padding: 0 0 47px;
}
.pop_container_medium .pop_container .header{
  padding-top: 27px;
  padding-bottom: 15px;
}
.pop_container_medium .cerrar{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.pop_container_medium .header p{
  font-size: 16px;
}
.pop_container_medium .bajada_pop{
  width: 90%;
  margin: 0 auto;
}
.pop_container_medium .content_pop{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
/* pop container modal transferencia*/
.pop_container_transferencia{
  margin-top: 150px;
  max-width: 760px;
  position: relative;
  background-color: #f3f3f3;
  border: 1px solid #efefef;
  padding: 60px 36px 45px;
}
.pop_container_transferencia .white_content{
  background-color: #fff;
  position: relative;
  padding: 0 0 47px;
}
.pop_container_transferencia .pop_container .header{
  padding-top: 27px;
  padding-bottom: 15px;
}
.pop_container_transferencia .cerrar{
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.pop_container_transferencia .header p{
  font-size: 16px;
}
.pop_container_transferencia .bajada_pop{
  width: 90%;
  margin: 0 auto;
}
.pop_container_transferencia .content_pop{
  padding: 0;
  width: 90%;
  margin: 0 auto;
}
.content_pop .header{
  margin-top: 0px;
  padding-left: 0;
}
.content_pop .header h2{
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}
.content_pop .header p{
  font-size: 15px;
}
.content_pop .ask_content{
  float: none !important;
  margin: 7px 18px;
  border: 1px solid #c8c8c8;
  clear: both;
  overflow: hidden;
  padding: 0;
  margin-left: 0;
}
.content_pop .ask_content .ask{
  background: #eee;
  padding: 10px;
  font-weight: bold;
  height: 40px;
  font-size: 15px;
  border-right: 1px solid #c8c8c8;
}
.content_pop .ask_content .resp{
  padding: 0;
}
.content_pop .ask_content .resp input{
  width: 100%;
  border: none;
  height: 100%;
  height: 40px;
  padding-left: 20px;
}
.check_content{
  font-weight: bold;
  font-size: 15px;
  padding-left: 0 !important;
}
.check_content a{
  color: #cc3333;
}
.btn_sig_login{
  padding-left: 0px;
  width: 248px;
  font-weight: bold;
}
.seguridad_box{
  /*width: 270px;*/
  padding-left: 5px;
  margin-top: 15px;
}
.seguridad_box .soft_seguridad{
  color: #9e9e9e;
  font-size: 11px;
  margin-top: 10px;
}
.p_pop{
  font-style: italic;
  text-align: center;
}
.border_top_none{
  border-top: none !important;
}
.border_botton_none{
  border-bottom: none !important;
}
.white_content .header{
  overflow: hidden;
}
.ask_rut{
  position: absolute;
  right: 5px;
  top: 10px;
}
/**************/
/*PAGO EXITOSO*/

.medio_pago .pago_detalle{
  font-size: 14px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-left: 4px solid #cc4a4a;
  padding: 10px 0;
  margin: 25px 0;
  background: url(/img/timbre.png);
  background-position: 44% 50%;
  background-repeat: no-repeat;
}

.Seguridad{
  margin: 0 auto;
  display: block;
  padding: 15px 0 15px 0;

}



.medio_pago .pago_detalle .txt{
  text-transform: uppercase;
  font-weight: bold;
  text-align: right;
}
.medio_pago .bajada_botones{
  padding: 0;
  overflow: hidden;
  clear: both;
}
.medio_pago .bajada_botones p{
  padding: 0;
  margin-bottom: 25px;
}

/*******************/
/* codigo generado */
.detalle_seg h3{
  font-weight: bold;
  font-size: 23px;
  text-align: center;
  margin: 0px 0 5px 0;
}


p.text{
  font-size: 15px;
  text-align: center;
  margin: 0px 0 5px 0;
}

p.text-second{
  font-size: 14px;
  text-align: center;
  margin: 0px 0 5px 0;
}


.bajada_cursiva{
  font-style: italic;
  font-size: 16px;
  margin-bottom: 0;
  padding-left: 4px;
}
.grey_content{
  display: block;
  clear: both;
  padding: 0;
  border: 1px solid #dedede;
}
.grey_content .header{
  background: #eee;
  padding: 15px 15px 15px 10px;
  font-weight: bold;
  /*background-image: url(../img/little_arrow.png);
  border-bottom: 1px solid #dedede;*/
  /*background-repeat: no-repeat;
  background-position: 10px 21px;*/
}
.grey_content .detalle_compra{
  padding-top: 12px;
}
.grey_content .detalle_compra div b{
  text-transform: uppercase;
}
.grey_content .detalle_compra div p{
  font-size: 14px;
}
.grey_content .detalle_compra p.lista{
  font-size: 14px;
  display: block;
  padding: 0 15px 10px;
}
.grey_content .detalle_compra p.importante{
  font-size: 12px;
  display: block;
  padding: 0 15px 5px 52px;
  background-image: url(/img/warning.png);
  background-repeat: no-repeat;
  background-position: 23px 2px;
}
.grey_content .detalle_compra p.bajada{
  font-size: 14px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  display: block;
  padding: 0 15px 15px;
}
.grey_content .detalle_compra input{
  float: none;
  display: block;
  margin: 0 auto 15px;
}
.cerrar_cod{
  margin: 15px 0 15px 0;
  padding-left: 0px;
}
.total_generado {
  border: 1px solid #e4e4e4;
  clear: both;
  padding: 5px 5px 15px;
  font-size: 18px;
  margin-top: 15px;
  /*-webkit-border-radius: 3px;*/
  /*-moz-border-radius: 3px;*/
  /*border-radius: 3px;*/
}
.total_generado h2 {
  text-align: left;
  padding-left: 14px;
  margin-top: 10px;
}
.total_generado .btn_op{
  border: 1px solid #e4e4e4;
  clear: both;
  width: 90%;
  padding: 10px;
  font-size: 18px;
  margin: 5px auto 0;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 14px;
  background: url(/img/flecha4.png);
  background-repeat: no-repeat;
    background-position: 95% 8px;
    cursor: pointer;
}
.total_generado .btn_op:hover{
  background-color: #e3e3e3;
  font-weight: bold;
}
.top_cero_nb{
  margin-top: 0 !important;
  border-top: none;
}
.top_15{
  margin-top: 15px !important;
  font-size: 14px !important;
}
.no_back{
  background-image: none !important;
  padding-left: 15px !important;

}
.buscador{
  height: 35px;
  position: relative;
  margin-bottom: 20px;
}
.buscador div{
  height: 100%;
  padding: 0;
}
.buscador .input_content_buscar{
  border-bottom: 1px solid #cfcfcf;
  border-left: 1px solid #cfcfcf;
  border-top: 1px solid #cfcfcf;
}
.buscador .input_buscar{
  width: 100%;
  height: 100%;
  border: none !important;
}
.buscador .buscador_input{
  width: 100% !important;
  height: 100%;
  background-image: none;
  -webkit-border-top-right-radius: 2px !important;
  -webkit-border-bottom-right-radius: 2px !important;
  -moz-border-radius-topright: 2px !important;
  -moz-border-radius-bottomright: 2px !important;
  border-top-right-radius: 2px !important;
  border-bottom-right-radius: 2px !important;
  -webkit-border-top-left-radius: 0px !important;
  -webkit-border-bottom-left-radius: 0px !important;
  -moz-border-radius-topleft: 0px !important;
  -moz-border-radius-bottomleft: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  float: none;
  display: block;
  margin: 0 auto 15px;
  font-size: 15px;
  line-height: 30px;
}
.back_grey{
  background-color: #eee !important;
}
.map_container{
  margin-bottom: 25px;
}
.map_content{
  height: 209px;
  padding: 0 !important;
  width: 40%;
    margin-right: 1.66666667% !important;
    overflow: hidden;
}
.map_content img{
  height: 100%;
  width: 100%;
}

.detalle_map{
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  border-left: 4px solid #cc4a4a;
  padding: 16px 0 15px;
  /*width: 305px;
  margin-left: 10px;*/
  font-size: 12px;
  height: 209px;
}
.comercio_container{
  padding: 0;
  margin-bottom: 10px;
  font-size: 12px;
}
.comercio_container .titulo{
  font-weight: bold;
  padding-right: 0;
  margin-right: 1%;
}
.comercio_container .txt{
  padding: 0;
}

/*****/
.div_buscador{
  padding: 10px 0;
}
.div_buscador h3{
  padding: 0;
  margin: 0 0 15px;
  font-size: 14px;
  font-weight: bold;
}
.div_buscador div .input_comercio{
  width: 230px;
  float: left;
  height: 33px;
  border: 1px solid #c9c9c9;
}
.div_buscador div .btn_buscar{
  width: 100px;
  float: left;
  height: 33px;
  border: 1px solid #eb4949;
  color: #fff;
  background: #eb4949;
  text-transform: uppercase;
  font-weight: bold;
}
/********** ingreso ********/
.bajadas_ingreso{
  margin-bottom: 25px ;
  text-align: center;
  padding: 10px;
}
.bajadas_ingreso h3{
  font-size: 18px;
  margin: 0 0 10px;
  font-weight: bold;
}
.bajadas_ingreso .medios_pago p,
.bajadas_ingreso .medios_pago img{
  float: left;
}
.bajadas_ingreso .medios_pago p{
  max-width: 160px;
  text-align: left;
  padding-left: 10px;
}
.bajadas_ingreso .medios_pago img{
  margin-top: 6px;
}
.border-right{
  border-right: 1px solid #dedede;
}
.link_red{
  color: #eb4949;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.cabeza_titulo{
  font-size: 14px !important;
  padding: 0 !important;
  margin-bottom: 15px;
  text-align: center;
}
.sin_descr{
  max-width: 613px;
}
.sin_descr .content{
  margin-top: 40px !important;
}
.sin_descr .content .medio_pago p.bajada_cursiva{
  font-size: 14px !important;
  margin-bottom: 8px;
}
.bajada_firma{
  float: right;
  margin-top: 25px;
}
.ultimo_borde_acordeon{
  border-bottom: none;
  margin: 0 0 20px 0;
}
.detalle_seg b,
.detalle_seg p{
  width: 100%;
  text-align: center !important;
  display: block;
}

/*.cod_generado_content{
  padding: 0 !important;
}*/
.candado_print{
  width: 80px;
  margin-left: 68px;
}

/*
.detalle_seg{
  width: 53%;
}
*/

/* Table */

.table > thead > tr > th:first-child {
  text-align: left;
  padding-left: 20px;
}

.table > tbody > tr > td:first-child {
  text-align: left;
  padding-left: 20px;
}

.table{
  margin-bottom: 0px;
}

.table > thead > tr > th {
  background-color: #efefef;
  color: #5e5e5e;
  text-align: center;
  border: none;
  font-size: 12px;
}
.table-border {
  border: 1px solid #ddd;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    border-top: none;
}
tbody {
    background-color: #ffffff;
    font-size: 14px;
}
.table > tbody > tr > td {
  padding: 20px;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: no-repeat;
}

.form-control {
    background-image: url("/img/flecha-selector.jpg");
    border-radius: 1px !important;
    background-position: right top;
    margin: 5px 0 5px 0;
}

/* Mapa */

.table-border-map {
  border: 1px solid #ddd;
  padding: 5px;
}

/* Alertas */

.pagado{
  background-image: url("/img/0.png");
    background-position: center;
    background-repeat: no-repeat;
}

.alert-dismissable .close, .alert-dismissible .close {
    top: 7px;
}
.alert-info {
    /*color: #666;
    border: none;*/
    border-radius: 1px;
    /*padding-left: 50px;
    margin-left: 30px;
    margin-right: 50px;*/
}
.alert-margin{
  padding-left: 50px;
    margin-left: 30px;
    margin-right: 50px;
}
/*.alert-danger {
    color: #666;
    border: none;
    border-radius: 1px;
}*/
button.close {
    padding-left: 42px !important;
}
/*.alert-danger {
    color: #666;
    border: none;
    border-radius: 1px;
}*/
.alert-padding{
  padding: 25px 45px;
}
.alert-padding-top{
  padding: 0px 28px;
}

.alert-danger {
    background-color: #ffe4e3;
    border: none;
    border-radius: 1px;
}

.panel-heading {
    padding: 6px 15px;
    border-bottom: none;
    border-top-left-radius: none;
    border-top-right-radius: none;
    background-color: #006599 !important;
    color: #fff !important;
}
.panel {
  border-radius: 1px;
  margin-bottom: 0px;
}
.advertencia{
  font-size: 11px;
    display: block;
    background-image: url(/img/warning.png);
    background-repeat: no-repeat;
    background-position: 2px 14px;
    padding-left: 24px;
    padding-top: 15px;
}
.info-padding-left{
  padding-left: 90px;
  padding-top: 5px;
}
.info-padding-right{
  padding-right: 90px;
  padding-top: 5px;
}

.padding-total{
  margin: 0 10px;
}

/*Info call*/
.call_center{
  font-size: 14px;
  border: 1px solid #e7e7e7;
  padding: 10px;
  margin: 20px 0 20px 0;
}

.call{
  font-size: 14px;
  margin: 5px 10px 5px 10px;
}


.box_round {
  border-radius: 70px;
}


.ico_call{
  margin: 0 auto;
  display: block;
  padding: 0px 10px 0px 10px;

}

/*Info call*/
