<init-transferencia (onUser)="onUser($event)" *ngIf="componentInit"></init-transferencia>
<new-transferencia  (confirmNewAcount)="confirmNewAcount($event)" *ngIf="componentNewUser" [user]="user"></new-transferencia>
<frequent-transferencia (confirmAcount)="confirmAcount($event)" *ngIf="componentFrequent" [user]="user"></frequent-transferencia>
<detail-transferencia  *ngIf="componentDetail" [client]="client"></detail-transferencia>
