<div id="titulo">
		<h1 class="titulo_transferencia">PAGA CON TRANSFERENCIA BANCARIA DESDE TU CUENTA RUT, VISTA O CORRIENTE</h1>
	</div>

	<div id="option_selected" class="col-sm-12">

		<div id="campos" class="campos-tef">
			<div class="campo">
				<label>RUT</label>
				<input type="text" name="rut" [value]="user.rut" placeholder="12.345.678-9" disabled="">
			</div>
			<div class="campo">
				<label>E-mail</label>

				<input type="text" name="rut" placeholder="Ej: nombre@correo.com">

				<div class="tooltop input-tool"><img src="img/ico-question.png" alt="ico-question" />
				  <span class="tooltiptext">Este correo quedará asociado a tu rut, podrás cambiarlo registrándote en Multicaja.cl</span>
				</div>
			</div>
			<div class="campo">
				<label>Confirma e-mail</label>
				<input type="text" name="rut" placeholder="Ej: nombre@correo.com">
			</div>
			<div class="campo">
				<label>Transferiré desde</label>
				<select name="banco">
					<option value="" disabled selected hidden="">Selecciona tu Banco</option>
					<option value="Banco París">Banco París</option>
					<option value="Banco Ripley">Banco Ripley</option>
					<option value="Banco Santander Santiago">Banco Santander Santiago</option>
					<option value="Banco Security">Banco Security</option>
					<option value="BancoEstado">BancoEstado</option>
					<option value="BBVA">BBVA</option>
					<option value="COOPEUCH">COOPEUCH</option>
				</select>
				<i>(*) Si tienes cuenta RUT, selecciona BancoEstado</i>
			</div>
			<div class="terminos-condiciones">
				Al hacer clic en el botón <b>"SIGUIENTE",</b> estás aceptando nuestros <a href="" data-toggle="modal" data-target="#term-condiciones">Términos y Condiciones.</a>
			</div>
			<div class="campo" style="margin-top: 45px;">
				<button type="submit"  (click)="enviarNew()" class="btn-ico-flecha">SIGUIENTE </button>
			</div>
		</div>

	</div>

	<div id="volver">
		<a href="#">< Volver</a>
	</div>

	<!-- MODAL TERMINOS Y CONDICIONES -->
	<div class="modal fade" id="term-condiciones" role="dialog">
	  <div class="modal-dialog modal-bg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	          <h4 class="modal-title"><b>TÉRMINOS Y CONDICIONES</b></h4>
	        </div>
	        <div class="modal-body txt-termycondi">

					<h4>TÉRMINOS Y CONDICIONES PARA EL USO DEL MEDIO DE PAGO TRANSFERENCIA ELECTRÓNICA A TRAVÉS DE LA PLATAFORMA DE PAGO MULTICAJA</h4>
					<h4>1. ANTECEDENTES.</h4>

					<p><b>1.1</b> El presente instrumento (los “Términos de Uso”) establece los términos y condiciones que rigen el uso por parte del usuario (el “Usuario”, según dicho término se define en la Sección 2 siguiente) de la Plataforma de Pago que se define más abajo provista por Multicaja S.A. (“Multicaja”). Al aceptar el Usuario los presentes Términos de Uso, siguiendo las instrucciones contenidas en los mismos, se entiende dicho Usuario legalmente obligado a regirse por ellos en toda utilización que haga de la Plataforma de Pago. </p>

					<p><b>1.2</b> Multicaja es una sociedad anónima cerrada válidamente constituida conforme a la legislación chilena, cuyo giro consiste, entre otros, en la implementación y administración de un modelo de operación de redes transaccionales que permite la captura, transporte y registro de transacciones financieras y/o comerciales. Para tales efectos, Multicaja es titular, administra y opera, directamente o a través de terceros, programas, sistemas de seguridad, conexiones, cables e instalaciones, que le permiten prestar los servicios de transporte, registro y gestión o procesamiento de tales transacciones electrónicas.

					<p><b>1.3</b> Multicaja ha implementado un servicio de captura, transporte y registro de transacciones electrónicas, que permite a los Usuarios efectuar transacciones de pago en línea con ciertos medios de pago autorizados y habilitados por Multicaja (los “Medios de Pago”, según dicho término se define en la Sección 2 siguiente), a través de internet u otros canales –dependiendo de la factibilidad y disponibilidad técnica de dichos canales-, para pagar los bienes y/o servicios que se adquieran en los Comercios Adheridos (según dicho término se define en la Sección 2 siguiente), en adelante, indistintamente, la “Plataforma de Pago” o el “Servicio”.</p>

					<p><b>1.4</b> El Usuario reconoce que: (i) Multicaja no es un banco, y que el Servicio es una plataforma de procesamiento de pagos que no constituye, bajo ningún respecto, un servicio u operación de carácter bancario, financiero, ni de intermediación de bienes o servicios; y (ii) Multicaja actúa, bajo todo respecto, como un prestador de servicios del Usuario para el procesamiento y materialización de los pagos que el Usuario requiera realiza a través de la Plataforma de Pago, todo de acuerdo a las instrucciones y solicitudes que el propio Usuario imparta, y bajo responsabilidad y riesgo de éste. A este respecto, Multicaja no es un intermediario para la adquisición de bienes y/o prestación de servicios, en los términos del artículo 43 de la Ley N° 19.496 sobre Protección de los Derechos de los Consumidores, por lo que no asume responsabilidad alguna respecto de la prestación o entrega efectiva, identidad, calidad, disponibilidad de stock o idoneidad de los productos o servicios de los Comercios Adheridos cuyo pago el Usuario realice a través de la Plataforma de Pago. Por lo tanto, cualquier reclamo, ejercicio de derechos de garantía o responsabilidad por los productos y/o servicios cuyo pago el Usuario realice utilizando la Plataforma de Pago, corresponde ejercerlo única y exclusivamente contra el Comercio Adherido del cual se adquirió el producto y/o servicio respectivo.</p>

					<h4>2. DEFINICIONES. </h4>

					<p>Para los efectos de este instrumento, y sin perjuicio de las demás definiciones contempladas en otras cláusulas o secciones del mismo, los términos enunciados a continuación tendrán el significado que para cada uno de ellos se señala:</p>

					<p><b>2.1 “Usuario” o “Usuarios”:</b> Significa toda persona jurídica o natural que utiliza la Plataforma de Pago para efectos de pagar a través de ella, con los Medios de Pago, el precio de los Productos Ofrecidos, en los términos y condiciones que se detallan en el presente instrumento.</p>

					<p><b>2.2 “Productos Ofrecidos”</b> Se refiere a los bienes y servicios ofrecidos por los Comercios Adheridos.</p>

					<p><b>2.3 “Comercios Adheridos”</b> Significa todo establecimiento comercial afiliado, ya sea directamente o por intermedio de otros comercios, a la Plataforma de Pago, y que en consecuencia está habilitado para recibir a través de ésta el pago de bienes y/o servicios por parte de Usuarios con los Medios de Pago. </p>

					<p><b>2.4 “Transferencia Electrónica de Fondos”:</b> Se refiere al traspaso de fondos que realiza el Usuario desde su Cuenta Bancaria hacia la Cuenta Bancaria Multicaja para, por intermedio de Multicaja, efectuar el pago de los Productos Ofrecidos a los Comercios Adheridos.</p>

					<p><b>2.5 “Cuenta Bancaria Usuario”:</b> Significa la cuenta bancaria chilena de la que es titular el Usuario y desde la que éste  realizará las Transferencias Electrónicas de Fondos a la Cuenta Bancaria de Multicaja para, por intermedio de Multicaja, efectuar el pago de los Productos Ofrecidos. </p>

					<p><b>2.6 “Cuenta Bancaria de Multicaja”:</b> Significa las cuentas bancarias de las que es titular Multicaja y que serán utilizadas indistintamente por ésta para prestar el Servicio. La Cuenta Bancaria de Multicaja será oportunamente informada a los Usuarios al momento de acceder al Servicio.

					<p><b>2.7 "Medios de Pago":</b> Significa la Transferencia Electrónica de Fondos. </p>

					<p><b>2.8 “Sitios Web de los Comercios Adheridos”</b> Significa el dominio y portal transaccional de Internet habilitado y operado por cada Comercio Adherido a través del cual se ofrecen los Productos Ofrecidos.</p>

					<h4>3. USO DE LOS MEDIOS DE PAGO. </h4>

					<p>Para que un Usuario pueda efectuar el pago de los Productos Ofrecidos con los Medios de Pago habilitados a través de la Plataforma de Pago deberá entregar la información requerida por Multicaja (como por ejemplo, N° de RUT Usuario, correo electrónico, datos de la Cuenta Bancaria Usuario) para que dicha información sea verificada por Multicaja. </p>

					<p>Luego, el Usuario deberá efectuar la Transferencia Electrónica de Fondos (i) desde la Cuenta Bancaria Usuario; (ii) por el monto que se le indique y que corresponde al valor del Producto Ofrecido; y (ii) dentro del periodo de tiempo que le informe Multicaja.</p>

					<p>Toda Transferencia Electrónica de Fondos que realice el Usuario para acceder al Servicio sólo podrá efectuarse desde una cuenta bancaria chilena de la que sea titular el Usuario. Por lo tanto, Multicaja no estará obligada a cursar una transacción en la Plataforma de Pago si el Usuario efectuare una transferencia bancaria desde una cuenta que no sea de su titularidad, es decir, que el RUT con que esté registrada dicha cuenta no corresponda al RUT del Usuario. En tal caso, los dineros transferidos quedarán a disposición del Usuario la Cuenta Bancaria del Usuario dentro del <p>tercer día hábil siguiente. </p>

					<p>Por su parte, si para el pago de un determinado Producto Ofrecido, el Usuario hubiere efectuado una Transferencia Electrónica de Fondos por un monto mayor al de dicho Producto Ofrecido, Multicaja dará curso a la instrucción de pago por el monto del Producto Ofrecido. Respecto al excedente el Usuario podrá solicitar a Multicaja (i) la devolución de dicho excedente a la Cuenta Bancaria del Usuario; o (ii) la mantención del mismo para el pago de otros Productos Ofrecidos, para lo cual deberá efectuar el proceso de registro indicado en el apartado 4 siguiente. Si el  Usuario no dijere nada o no completare el proceso de Registro, Multicaja llevará a cabo la devolución del excedente dentro del <b>tercer día hábil siguiente</b> de efectuada Transferencia Electrónica de Fondos respectiva.  </p>

					<p>Si la Transferencia Electrónica de Fondos se hubiere efectuado por un monto inferior al valor del respectivo Producto Ofrecido, la instrucción de pago al Comercio Adherido se entenderá cancelada, quedando los dineros a disposición del Usuario en la forma y plazo señalado en el párrafo precedente.</p>

					<p>Finalmente, si el Usuario no efectuare la Transferencia Electrónica de Fondos dentro del periodo de tiempo que le informe Multicaja, la instrucción de pago al Comercio Adherido se entenderá cancelada, debiendo volver a iniciar la instrucción de pago en caso de requerirlo.</p>

					<h4>4. REGISTRO Y CUSTODIA CLAVE PLATAFORMA DE PAGO</h4>

					<p>Existen determinadas funcionalidades del Servicio (como por ejemplo, el uso de los excedentes y/o historial de sus transacciones) a las que, para que Usuario pueda acceder, deberá, por una sola vez, registrarse en línea en la Plataforma de Pago, proveyendo la información requerida por Multicaja para tales efectos. </p>

					<p>Multicaja, luego de verificar que los datos entregados por el Usuario son correctos, le pedirá al Usuario que indique una clave de identificación (en adelante, la <b>“Clave”</b>),  a través de la cual podrá acceder al Servicio. </p>

					<p>El Usuario podrá en cualquier momento solicitar el cambio o recuperación de su Clave a través de la Plataforma de Pago, siguiendo las instrucciones que ahí se especifican.</p>

					<p>El Usuario autoriza a Multicaja para prestar los Servicios conforme a todas las instrucciones recibidas bajo su Clave. El uso y custodia de la Clave, es de única y exclusiva responsabilidad del Usuario, de manera que el Usuario conviene y se obliga en este acto a no entregar su Clave a terceros que no estén autorizados por él para usar los Servicios. Multicaja podrá asumir a su sólo arbitrio, que cualquiera que dé instrucciones de pago usando la Clave corresponde al Usuario o a una persona autorizada por él para hacer uso del Servicio.</p>

					<p>El Usuario se obliga a comunicar a Multicaja, a la mayor brevedad, la pérdida, sustracción o robo de la Clave, así como cualquier riesgo de acceso a la misma por un tercero. El Usuario podrá hacer la referida notificación a través de los canales de comunicación indicados en la cláusula 10 siguiente. En tal caso, Multicaja tomará todas las acciones que estime pertinentes para impedir nuevos usos de la Clave a partir de la señalada notificación. </p>

					<p>Se hace presente que el bloqueo de la Clave, se llevará a cabo inmediatamente de recepcionada la solicitud de bloqueo por parte del Usuario, debiendo Multicaja, en tal caso, efectuar la confirmación al Usuario del bloqueo de su Clave, conforme a lo establecido en la cláusula 10 siguiente.</p>

					<p>Multicaja, por razones fundadas y comprobables, podrá suspender o revocar la Clave, sea por motivos de mal uso o uso abusivo de la Plataforma de Pago, por existir sospechas fundadas de indebida utilización, compromiso de la seguridad tecnológica, o por otras circunstancias que involucren un riesgo o impedimento para la debida prestación del Servicio. Para efectos de esta cláusula, se entenderá especialmente que se ha hecho una indebida utilización de la Plataforma de Pago o de la Clave cuando el Usuario ilegítimamente desconozca una transacción de pago; o cuando utilice la Plataforma de Pago para efectuar operaciones prohibidas por la ley, tales como de lavado de dinero, narcotráfico, pornografía, entre otras circunstancias análogas o de similar naturaleza.</p>

					<h4>5. USO DE INFORMACIÓN.</h4>

					<p>El Usuario registrado en la Plataforma de Pago puede solicitar a Multicaja, la rectificación, modificación, eliminación y/o cancelación de sus datos cuando lo estime conveniente, en conformidad a la Ley 19.628 sobre Protección de la Vida Privada. De acuerdo a la legislación vigente, el Usuario queda informado y acepta que al registrarse en los sistemas de la Plataforma de Pago para el uso del Servicio, los datos personales que entregue durante el proceso de registro, así como aquellos que se entreguen, obtengan y/o generen en razón del uso de los Servicios (datos tales como, número de RUT, dirección de correo electrónico, número de teléfono celular, entre otros) serán incorporados en una base de datos automatizada de propiedad de Multicaja. El Usuario expresamente autoriza y acepta que dichos datos personales podrán ser utilizados por Multicaja, o transferidos por ésta a empresas relacionadas y a sus prestadores de servicio, dando siempre cumplimiento a lo dispuesto en la Ley 19.628 de Protección de la Vida Privada, en la medida en que fuese necesario o conveniente para la prestación de los Servicios. Los datos personales obtenidos sólo serán utilizados para asegurar el adecuando funcionamiento de los Servicios.</p>

					<h4>6. MANDATO ESPECIAL.</h4>

					<p>El Usuario confiere mandato especial a Multicaja, quien a su vez lo acepta, para que actuando en su nombre y representación, y conforme a sus instrucciones específicas, realice el pago de los Productos Ofrecidos adquiridos por el Usuario, con cargo al Medio de Pago.</p>

					<p>Multicaja rendirá cuenta del encargo, mediante el envío de una confirmación electrónica (o a través de otro medio que estimare adecuado para efectuar la rendición de cuenta) de los pagos efectuados al Comercio Adherido, o a las empresas o personas mandatadas por el respectivo Comercio Adherido para recibir dichos pagos.</p>

					<h4>7. MODIFICACIONES AL SERVICIO O A LOS PRESENTES TÉRMINOS DE USO.</h4>

					<p>Multicaja tendrá el derecho de modificar, o discontinuar la Plataforma de Pago o cualquier parte de la misma y/o los Servicios, temporal o permanentemente, en cualquier momento, por lo que Multicaja en ningún caso será responsable hacia el Usuario o terceras partes por ninguna modificación, suspensión, o interrupción de la Plataforma de Pago y/o los Servicios.</p>

					<p>Asimismo, Multicaja se reserva el derecho a modificar de tiempo en tiempo y a su solo arbitrio los presentes Términos de Uso, incluyendo su política respecto de la gratuidad y/o precio del uso de la Plataforma de Pago o de los Servicios. En el evento que Multicaja estime necesario o conveniente incorporar una modificación a los presentes Términos de Uso, Multicaja podrá notificar el contenido de dicha modificación los Usuarios, mediante comunicación general publicada en línea en la Plataforma de Pago. El Usuario será responsable de consultar regularmente la versión vigente a la fecha de la consulta de los Términos de Uso, aceptando en todo caso que el uso de la Plataforma de Pago y la aceptación de los Términos de Uso luego de la fecha de entrada en vigor de cualesquiera modificaciones constituye una aceptación de las mismas. </p>

					<h4>8. DISPONIBILIDAD DE LOS SERVICIOS.</h4>

					<p>Será responsabilidad exclusiva de Multicaja, en función de sus políticas comerciales internas y de los convenios que celebre con los emisores y otorgantes de Medios de Pago y con los Comercios Adheridos, determinar los Medios de Pago que, de tiempo en tiempo, se encuentren habilitados para el pago de Productos Ofrecidos. Por lo anterior, eventualmente, determinados Medios de Pago podrían no estar disponibles para su uso respecto de ciertos Comercios Adheridos, o de determinados Productos Ofrecidos, sin que ello pueda implicar responsabilidad para Multicaja.</p>

					<p>Multicaja procurará que el Servicio esté disponible las 24 horas del día y los 7 días de la semana. Asimismo, procurará que las instrucciones de pago efectuadas por los Usuarios sean procesadas en el menor tiempo posible. Sin perjuicio de lo anterior, Multicaja no se compromete a que el Servicio estará continuamente disponible, considerando que la complejidad del mismo hace imposible garantizar un funcionamiento libre de fallas o interrupciones. Con todo, en caso de fallas o interrupciones, Multicaja realizará sus mejores esfuerzos para restablecer la continuidad del Servicio en el menor tiempo posible.</p>

					<h4>9. RESPONSABILIDAD:</h4>

					<p>Multicaja no será responsable por fallas en el Servicio o daños que resulten de pérdidas de datos, daño emergente, lucro cesante, u otra pérdida o perjuicio originados por negligencia o infracción del Usuario a los Términos de Uso, o cuando ello sea consecuencia de circunstancias imprevistas más allá del control de Multicaja, o de hechos constitutivos de caso fortuito o fuerza mayor, tales como cortes eléctricos, indisponibilidad de redes, catástrofes ambientales, atentados terroristas, u otros acontecimientos de similar naturaleza.</p>

					<p>Asimismo, Multicaja no responderá en caso alguno por la calidad, cantidad, identidad, sustancia, procedencia, seguridad, peso o medida de los Productos Ofrecidos adquiridos por el Usuario a través de Plataforma de Pago, quedando Multicaja exenta de cualquier responsabilidad o controversia que se genere entre el Usuario y el Comercio Adherido con relación a los Productos Ofrecidos, todas las cuales deberán ser resueltas por el Usuario directamente con el Comercio Adherido de que se trate.</p>

					<p>Asimismo, Multicaja no será responsable en caso alguno por daños imprevistos, pérdida de ganancias o utilidades, lucro cesante o cualquier daño indirecto, aceptando el Usuario, a mayor abundamiento, que en el evento que el Usuario sufriere algún daño o perjuicio derivado del incumplimiento de los presentes Términos de Uso por parte de Multicaja, la responsabilidad de ésta quedará limitada al daño emergente efectivamente sufrido por el Usuario, con un monto máximo equivalente al monto de las transacciones realizadas por el Usuario en la Plataforma de Pago dentro de los tres meses anteriores a la interposición de la acción judicial respectiva.</p>

					<h4>10. ATENCIÓN AL USUARIO Y COMUNICACIONES.</h4>

					<p>La política de MULTICAJA es la de brindar permanentemente un servicio de calidad y confiabilidad a todos los Usuarios, de manera que para la gestión de eventuales reclamos o consultas por parte de los Usuarios en relación al Servicio, Multicaja contará con canales habilitados para estos efectos, incluyendo, sin limitación, e-mail, contacto telefónico, página Web y presencial, los que se informarán adecuadamente por Multicaja.</p>

					<p>Con todo, los canales de atención a los Usuarios son:</p>
					<table class="tableterm">
						<thead>
							<tr>
								<th>Canal</th><th>Método</th><th>Horario de Atención</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>E-Mail</td><td>Correo a contacto@multicaja.cl</td><td>7 x 24</td></tr>
							<tr>
								<td>Telefónico</td><td>600 363 20 20</td><td>8:00 a 21:00 Hrs. <br>Lunes a viernes <br>10:00 a 18:30hrs <br>Sábado, domingo y festivos</td>
							</tr>
						</tbody>
					</table>
					<p>Multicaja podrá entregar cualquier aviso, comunicación o información al Usuario por cualquiera de los siguientes medios:</p>
					<p><b>a)</b> Comunicación general desplegada en la Plataforma de Pago; </p>
					<p><b>b)</b>  Correo electrónico a la dirección que el Usuario haya registrado;</p>
					<p><b>c)</b>  Llamada o Mensaje de texto al teléfono celular que el Usuario haya registrado;</p>
					<p><b>d)</b> Carta certificada enviada al domicilio que el Usuario haya registrado; y</p>
					<p><b>e)</b>  Otros que razonablemente determine Multicaja y que sean debidamente informados al Usuario.</p>

					<p>El Usuario deberá comunicar inmediatamente a Multicaja cualquier cambio en su dirección física, dirección de correo electrónico, número de teléfono, etc., mediante la funcionalidad de actualización de datos que estará habilitada en la Plataforma de Pago.</p>

					<h4>11. USO DE MARCA.</h4>

					<p>El Usuario reconoce y acepta que la(s) marca(s) de Multicaja, el nombre de dominio Multicaja.cl, los software, plataformas tecnológicas, sistemas y diseños de la Plataforma de Pago como aquellos sistemas que permiten la operación del Servicio son propiedad intelectual de Multicaja y no pueden ser copiadas, utilizadas ni imitadas de ninguna forma sin autorización expresa y otorgada por escrito de Multicaja.</p>

					<h4>12. ACUERDO ÚNICO.</h4>

					<p>Los presentes Términos de Uso prefieren y reemplazan cualquier acuerdo previo, escrito o verbal, entre el Usuario y Multicaja relativo a la Plataforma de Pago, y se considerará para todos los efectos como el único acuerdo vigente entre ambos con respecto a las materias a que se refiere el presente instrumento. La renuncia o tolerancia por parte de Multicaja respecto del ejercicio de algún derecho o disposición de estos Términos de Uso no constituirá renuncia a dicho derecho o disposición. Si algún tribunal de jurisdicción competente resuelve que alguna disposición de estos Términos de Uso es inválida, las partes de cualquier modo acuerdan que tal tribunal deberá valorar y dar efecto a la intención de las partes reflejada en dicha disposición, manteniendo las restantes disposiciones de estos términos de uso en pleno vigor y efecto. </p>

					<p>Para efectos de dar cumplimiento a la Ley 19.496 sobre Protección de los Derechos de los Consumidores, una vez aceptados por el Usuario, por medios electrónicos, los presentes Términos de Uso, Multicaja se obliga a enviar al Usuario una confirmación del hecho de haber quedado aceptados los mismos. La referida confirmación podrá ser enviada o disponibilizada por vía electrónica o por cualquier otro medio que Multicaja estime adecuado, incluyendo cualquiera de los medios señalados en la cláusula 10 precedente.</p>

					<h4>13. JURISDICCIÓN Y LEY APLICABLE</h4>

					<p>La utilización de la Plataforma de  Pago, así como los presentes Términos de Uso se rigen por las leyes de Chile, y toda disputa relacionada con los mismos será sometida a la jurisdicción de los Tribunales Ordinarios de Comuna de Santiago, República de Chile, aceptando el Usuario y Multicaja prorrogar la competencia a dichos tribunales para todos los efectos legales.</p>


	        </div>
	        <div class="modal-footer">
		        <a href="" class="cerrar-modal-term" data-dismiss="modal">Cerrar</a>
		    </div>
	      </div>
	    </div>
	  </div>
	<!-- MODAL TERMINOS Y CONDICIONES -->
