<header class="transferencia-logo"  >
  <img [src]="gateway.gateway_path" alt="logo_multicaja_pagos">
</header>
<div class="row"  >
  <app-sidebar [gateway]="gateway"></app-sidebar>
	<div id="contenido" class="col-sm-8">
				<efectivo *ngIf="viewEfectivo" [gateway]="gateway" > </efectivo>
				<transferencia *ngIf="viewTransferencia" [gateway]="gateway"> </transferencia>
	</div>
</div>

<footer class="pie-pagina" *ngIf="viewEfectivo">
        <p>Si tienes alguna duda sobre el proceso, o problemas en la aceptación del pago,
        llámanos al <b>600 363 20 20</b> o escríbenos al correo <b>contacto@multicaja.cl</b></p>
        <p><b>Horario de atención:</b> De lunes a viernes de 08:00 a 21:00 hrs. Sábado, domingo
        y festivos de 09:00 a 21:00 hrs.</p>
</footer>
