<div id="lateral" class="col-sm-4">

  <div class="widget col-sm-10">

    <img [src]="gateway.representadoResult.repre_url_logo" alt="logo_ecommerce">
    <h1>Compra en {{pedido.representadoResult.repre_name_represented}}</h1>
    <p>{{pedido.pedidoResult.descripcion_compra}}.</p>
    <a href="#" data-toggle="modal" data-target="#ModalDetalles01">Ver detalles</a>

    <span>Total a pagar: <b>${{pedido.pedidoResult.monto_trx | number}}</b></span>

    <a href="#" data-toggle="modal" (click)="getSurvey()" data-target="#ModalAnular">< Anular compra y volver a {{gateway.representadoResult.repre_name_represented}}</a>

  </div>
</div>

<div class="modal fade" id="ModalAnular" role="dialog">
  <div class="modal-dialog modal-bg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>¿SEGURO QUE QUIERES ANULAR?</b></h4>
        </div>
        <div class="modal-body">

			<div class="int-modal-body">
				<p class="text-left">Indica el motivo:</p>
				<ul>
          <li *ngFor="let survey of surverList" >
            <input [(ngModel)]="reasonCancel" [value]="survey.id" type="radio" name="op01" id="op01">
            {{ survey.description }}
        </li>
					<li><input type="text" name="otro" id="motivo" placeholder="¿Cuál fue el motivo?" disabled=""></li>
				</ul>

				<div class="botones-modal" style="display: inline-flex;">
					<button (click)="confirm()"class="bt-m-n">ANULAR</button>
				</div>


			</div>

			<div class="botones-modal" style="max-width: 90%; margin-top: 10px;">
				<a href="#" class="celeste-modal" data-dismiss="modal">Cerrar</a>
			</div>

        </div>
      </div>
    </div>
  </div>



  <!-- MODAL VER DETALLES 01 -->
<div class="modal fade" id="ModalDetalles01" role="dialog">
  <div class="modal-dialog modal-bg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"><b>DETALLE DE LA COMPRA</b></h4>
        </div>
        <div class="modal-body">

          	<div class="int-modal-body-full">

          		<div id="tabla-detalle">
					<div class="col-sm-4">
						<b>DESCRIPCIÓN</b>
						<p>46 DStore Purchase</p>
	                </div>
	                <div class="col-sm-4">
						<b>COMERCIO</b>
						<p>46 DSTORE</p>
	                </div>
	                <div class="col-sm-4">
						<b>MONTO A PAGAR</b>
						<p>$4.200</p>
	                </div>
                </div>

				<div class="botones-modal" style="max-width: 100%">
					<a href="#" class="celeste-modal" data-dismiss="modal">Cerrar</a>
				</div>

			</div>

        </div>
      </div>
    </div>
  </div>
